﻿@model THP.Web.Areas.Admin.Models.PaymentType.PaymentType
@{
    ViewBag.Title = "Add";
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Payment Types
        <small>Collection of all accepted payments on your website</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="@Url.Action("Index")"><i class="fa fa-files-o"></i> Catalog</a></li>
        <li><a href="@Url.Action("Index")">Payment Type</a></li>
        <li class="active">Add</li>
    </ol>
</section>

<section class="content">
    <div class="row">
        <div class="col-lg-12">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">Payment Type Information</h3>

                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip"
                                title="Collapse">
                            <i class="fa fa-minus"></i>
                        </button>
                        <button type="button" class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip" title="Remove">
                            <i class="fa fa-times"></i>
                        </button>
                    </div>
                </div>
                @using (Html.BeginForm("Add", "PaymentType", FormMethod.Post))
                {
                    <div class="box-body">
                        <div class="row">
                            @Html.HiddenFor(m => m.PaymentTypeId)
                            <div class="col-lg-12 col-md-12">
                                <div class="col-lg-12 col-md-12">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.Name)
                                        @Html.TextBoxFor(m => m.Name, "", htmlAttributes: new { @class = "form-control" })
                                        @Html.ValidationMessageFor(m => m.Name, "", htmlAttributes: new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12">
                                <div class="col-lg-12 col-md-12">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.Description)
                                        @Html.TextAreaFor(m => m.Description, rows: 5, columns: 5, htmlAttributes: new { @class = "form-control" })
                                        @Html.ValidationMessageFor(m => m.Description, "", htmlAttributes: new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer">
                        <input type="submit" class="btn btn-primary" value="Save" />
                    </div>
                    <!-- /.box-footer-->
                }
            </div>
        </div>
    </div>
</section>
