<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="pending-booking"></ion-back-button>
    </ion-buttons>
    <ion-title>Rate Trip</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-label>Pick Up: </ion-label>
    <ion-item class="rounded">
      <ion-input type="text" disabled>{{ pendingBooking.travelRate.pickupPoint.name }}</ion-input>
    </ion-item>
    <ion-label>Destination: </ion-label>
    <ion-item class="rounded">
      <ion-input type="text" disabled>{{pendingBooking.travelRate.destinationPoint.name}}</ion-input>
    </ion-item>
    <ion-label>Date: </ion-label>
    <ion-item class="rounded">
      <ion-input type="text" disabled>{{pendingBooking.startDateScheduled | date }} to
        {{pendingBooking.endDateScheduled | date }}</ion-input>
    </ion-item>
    <ion-label>Driver's Name: </ion-label>
    <ion-item class="rounded">
      <ion-input type="text" disabled>{{pendingBooking.driverUser.firstName}} {{pendingBooking.driverUser.lastName}}
      </ion-input>
    </ion-item>
    <ion-label>Total Payment: </ion-label>
    <ion-item class="rounded">
      <ion-input type="text" disabled>{{pendingBooking.totalPrice | currency:'PHP '}}</ion-input>
    </ion-item>
  </ion-grid>
  <ion-grid text-center>
    <ion-item class="rounded">
      <ion-textarea placeholder="Enter comment here..." [(ngModel)]="pendingBooking.bookingReview.message">
      </ion-textarea>
    </ion-item>
    <ion-row text-center>
      <rating [(ngModel)]="pendingBooking.bookingReview.rating" readonly="false" size="default"></rating>
    </ion-row>
    <ion-button expand="block" color="secondary" (click)="submitRating()"
      [disabled]="pendingBooking.bookingReview.message === '' || this.pendingBooking.bookingReview.rating === 0">
      <span *ngIf="!isRating">Submit Rating</span>
      <ion-spinner *ngIf="isRating" name="bubbles"></ion-spinner>
    </ion-button>
  </ion-grid>
</ion-content>