<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="pending-booking"></ion-back-button>
    </ion-buttons>
    <ion-title>Pending Trip Cancellation</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-label>Pick Up: </ion-label>
    <ion-item class="rounded">
      <ion-input type="text" disabled>{{ pendingBooking.travelRate.pickupPoint.name }}</ion-input>
    </ion-item>
    <ion-label>Destination: </ion-label>
    <ion-item class="rounded">
      <ion-input type="text" disabled>{{pendingBooking.travelRate.destinationPoint.name}}</ion-input>
    </ion-item>
    <ion-label>Date: </ion-label>
    <ion-item class="rounded">
      <ion-input type="text" disabled>{{pendingBooking.startDateScheduled | date }} to
        {{pendingBooking.endDateScheduled | date }}</ion-input>
    </ion-item>
    <ion-label>Driver's Name: </ion-label>
    <ion-item class="rounded">
      <ion-input type="text" disabled>{{pendingBooking.driverUser.firstName}} {{pendingBooking.driverUser.lastName}}
      </ion-input>
    </ion-item>
    <ion-label>Total Payment: </ion-label>
    <ion-item class="rounded">
      <ion-input type="text" disabled>{{pendingBooking.totalPrice | currency:'PHP '}}</ion-input>
    </ion-item>
  </ion-grid>
  <ion-card class="m-0">
    <ion-card-content>
      By cancelling this trip. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
      ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
      aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
      fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit
      anim id est laborum.

      <ion-button color="danger" expand="block" (click)="cancelBooking()">
        <span *ngIf="!isCancelling">Cancel Anyway</span>
        <ion-spinner *ngIf="isCancelling" name="bubbles"></ion-spinner>
      </ion-button>
      <ion-button *ngIf="pendingBooking.status === BOOKING_STATUS_ONGOING" color="success" expand="block" (click)="goToDriversLocation()">
        <span *ngIf="!isCheckingLocation">Driver's Location</span>
        <ion-spinner *ngIf="isCheckingLocation" name="bubbles"></ion-spinner>
      </ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>