﻿
@{
    ViewBag.Title = "Track Your Booking";
}

@section css
{
    <link href="~/Content/Client/css/datetimepicker/bootstrap-datetimepicker.css" rel="stylesheet" />
    <style>
        #maparea {
            width: 100%;
            height: 500px;
            background-color: grey;
        }
    </style>
}

<!--== Page Title Area Start ==-->
<section id="page-title-area" class="section-padding overlay">
    <div class="container">
        <div class="row">
            <!-- Page Title Start -->
            <div class="col-lg-12">
                <div class="section-title  text-center">
                    <h2>Track Your Booking</h2>
                    <span class="title-line"><i class="fa fa-car"></i></span>
                    <p>
                        Your booking will be tracked once its scheduled for this present day. Track the van while its on its way
                    </p>
                </div>
            </div>
            <!-- Page Title End -->
        </div>
    </div>
</section>
<!--== Page Title Area End ==-->
<!--== Map Area Start ==-->
<div id="maparea">
</div>
<!--== Map Area End ==-->

@section scripts {
    <script src="~/Scripts/Client/google-map.js"></script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBpTyUgoI0FLvlc8WKBYqX2lOFDrldg-lc&callback=showPosition&region=PH&language=tl"></script>

    <script>
        function CustomerLocation() {
            $.ajax({
                url: '@Url.Action("GetMeetupLocation", "Tracking")',
                contentType: 'application/json',
                type: 'POST',
                success: function (result) {
                    if (result.address.length > 0) {
                        trackCustomerPoint(result.address);
                        setInterval(DriverPoint, 5000);
                    }
                },
                error: function () {
                }
            });
        }

        function DriverPoint() {
            $.ajax({
                url: '@Url.Action("GetDriverLocation", "Tracking")',
                contentType: 'application/json',
                type: 'POST',
                success: function (result) {
                    trackDriverPoint(result.location);
                },
                error: function () {
                }
            });
        }

        $(document).ready(function () {
            CustomerLocation();
        });
    </script>
}