<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row ion-margin-vertical *ngIf="discounts.length > 0">
      <ion-col>
        <div class="ion-text-start">
          <h3>Promos</h3>
        </div>
      </ion-col>
    </ion-row>
    <ion-slides [options]="slideOpts">
      <ion-slide *ngFor="let discount of discounts">
        <div class="w-100"  (click)="goToRatesWithDiscount(discount)">
          <ion-card>
            <ion-card-header>
              <ion-card-title>{{discount.couponCode}}</ion-card-title>
              <ion-card-content>Have a discount of {{discount.discountAmount}} Pesos for your trip.</ion-card-content>
            </ion-card-header>
          </ion-card>
        </div>
      </ion-slide>
    </ion-slides>

    <ion-row ion-margin-vertical>
      <ion-col>
        <div>
          <a (click)="goToRates()">see rates here</a>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>