﻿<!--== Services Area Start ==-->
<section id="service-area" class="section-padding">
    <div class="container">
        <div class="row">
            <!-- Section Title Start -->
            <div class="col-lg-12">
                <div class="section-title  text-center">
                    <h2>Our Services</h2>
                    <span class="title-line"><i class="fa fa-car"></i></span>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                </div>
            </div>
            <!-- Section Title End -->
        </div>


        <!-- Service Content Start -->
        <div class="row">
            <!-- Single Service Start -->
            <div class="col-lg-4 text-center">
                <div class="service-item">
                    <i class="fa fa-taxi"></i>
                    <h3>FAMILY OUTING</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit admollitia.</p>
                </div>
            </div>
            <!-- Single Service End -->
            <!-- Single Service Start -->
            <div class="col-lg-4 text-center">
                <div class="service-item">
                    <i class="fa fa-cog"></i>
                    <h3>AIRPORT SERVICE</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit admollitia.</p>
                </div>
            </div>
            <!-- Single Service End -->
            <!-- Single Service Start -->
            <div class="col-lg-4 text-center">
                <div class="service-item">
                    <i class="fa fa-map-marker"></i>
                    <h3>TOURIST SERVICE</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit admollitia.</p>
                </div>
            </div>
            <!-- Single Service End -->
            <!-- Single Service Start -->
            <div class="col-lg-4 text-center">
                <div class="service-item">
                    <i class="fa fa-life-ring"></i>
                    <h3>SHUTTLE SERVICE</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit admollitia.</p>
                </div>
            </div>
            <!-- Single Service End -->
            <!-- Single Service Start -->
            <div class="col-lg-4 text-center">
                <div class="service-item">
                    <i class="fa fa-bath"></i>
                    <h3>COMPANY OUTING</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit admollitia.</p>
                </div>
            </div>
            <!-- Single Service End -->
            <!-- Single Service Start -->
            <div class="col-lg-4 text-center">
                <div class="service-item">
                    <i class="fa fa-phone"></i>
                    <h3>OUT OF TOWN TRIP</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit admollitia.</p>
                </div>
            </div>
            <!-- Single Service End -->
        </div>
        <!-- Service Content End -->
    </div>
</section>
<!--== Services Area End ==-->
