﻿
@{
    ViewBag.Title = "Facebook Page";
}

<!--== Facebook Page Area Start ==-->
<section id="testimonial-area" class="section-padding">
    <div class="container">
        <div class="row">
            <!-- Section Title Start -->
            <div class="col-lg-12">
                <div class="section-title  text-center">
                    <h2>Facebook</h2>
                    <span class="title-line"><i class="fa fa-car"></i></span>
                    <p>Lorem ipsum dolor sit amet elit.</p>
                </div>
            </div>
            <!-- Section Title End -->
        </div>

        <div class="row">
            <div class="col-lg-12 col-md-12 m-auto text-center">
                <div id="fb-root"></div>
                <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v3.3&appId=394134084509477&autoLogAppEvents=1"></script>

                <div class="fb-page" data-href="https://www.facebook.com/privatevanrentals/" data-tabs="timeline" data-width="500"
                     data-height="1300" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false"
                     data-show-facepile="true">
                    <blockquote cite="https://www.facebook.com/privatevanrentals/" class="fb-xfbml-parse-ignore">
                        <a href="https://www.facebook.com/privatevanrentals/">Facebook</a>
                    </blockquote>
                </div>
            </div>
        </div>
    </div>
</section>
<!--== Facebook Page Area End ==-->
