﻿@model THP.Web.Models.DAL.Data.Home.HomeQuickBookingViewModel
@using THP.Web.Models
@{
    ViewBag.Title = "Home Page";
}

@section css
{
    <link href="~/Content/Client/css/datetimepicker/bootstrap-datetimepicker.css" rel="stylesheet" />
}

<!--== Slider Area Start ==-->
<section id="slider-area">
    <!--== slide Item One ==-->
    <div class="single-slide-item overlay">
        <div class="container">
            <div class="row">
                <div class="col-lg-5">
                    <div class="book-a-car">
                        @using (Html.BeginForm("Index", "Home", FormMethod.Post))
                        {
                            @Html.AntiForgeryToken()
                            @Html.HiddenFor(m => m.DiscountId)
                            @Html.HiddenFor(m => m.OrderId)
                            @Html.HiddenFor(m => m.Distance)
                            <!--== Pick Up Location ==-->
                            <div class="pickup-location book-item">
                                <h4>@Html.DisplayNameFor(m => m.originLocationID)</h4>
                                @Html.DropDownListFor(m => m.originLocationID, Model.lst_originLocationID, "Select Pickup Point", htmlAttributes: new { @class = "custom-select" })
                            </div>
                            <!--== Pick Up Location ==-->
                            <!--== Destination Location ==-->
                            <div class="pickup-location book-item">
                                <h4>@Html.DisplayNameFor(m => m.destinationLocationID)</h4>
                                @Html.DropDownListFor(m => m.destinationLocationID, Model.lst_destinationLocationID, "Select Destination Point", htmlAttributes: new { @class = "custom-select" })
                            </div>
                            <!--== Destination Location ==-->
                            <!--== Pick Up Date ==-->
                            <div class="pick-up-date book-item">
                                <h4>@Html.DisplayNameFor(m => m.StartDateScheduled)</h4>
                                <div class="input-group date form_datetime" data-link-field="dtp_startDateSchedule">
                                    <input class="form-control" type="text" id="startDate" value="" placeholder="Pick-up Date" readonly onchange="UpdateEndDate(this.value)">
                                    <div class="input-group-append">
                                        <span class="input-group-addon"><span class="fa fa-calendar"></span></span>
                                    </div>
                                </div>
                                @Html.HiddenFor(m => m.StartDateScheduled, htmlAttributes: new { @id = "dtp_startDateSchedule" })
                            </div>

                            <div class="pick-up-date book-item">
                                <h4>@Html.DisplayNameFor(m => m.EndDateScheduled)</h4>
                                <div class="input-group date form_datetime" data-link-field="dtp_endDateSchedule">
                                    <input class="form-control" type="text" id="endDate" value="" placeholder="Return Date" readonly onchange="UpdateStartDate(this.value)">
                                    <div class="input-group-append">
                                        <span class="input-group-addon"><span class="fa fa-calendar"></span></span>
                                    </div>
                                </div>
                                @Html.HiddenFor(m => m.EndDateScheduled, htmlAttributes: new { @id = "dtp_endDateSchedule" })
                            </div>
                            <!--== Pick Up Date ==-->
                            <!--== Seater Choose ==-->
                            <div class="choose-car-type book-item">
                                <h4>@Html.DisplayNameFor(m => m.Seater)</h4>
                                @Html.TextBoxFor(m => m.Seater, "", htmlAttributes: new { @id = "seater", @class = "custom-number-style", @type = "number", @min = "0", @max = "18" })
                            </div>
                            <!--== Seater Choose ==-->

                            <!--== Seater Choose ==-->
                            <div class="choose-car-type book-item">
                                <h4>@Html.DisplayNameFor(m => m.Ride)</h4>
                                @Html.DropDownListFor(m => m.Ride, Model.lst_Rides, "Select Rides", htmlAttributes: new { @id = "ride", @class = "form-control", @placeholder = "Rides" })
                            </div>
                            <!--== Seater Choose ==-->

                            <div class="book-button text-center">
                                @if (HttpContext.Current.Session["username"] != null)
                                {
                                    <button type="button" id="bookSchedule" class="book-now-btn" data-target="#modalPayment">Book Now</button>
                                }
                                else
                                {
                                    <button type="button" id="bookSchedule" class="book-now-btn" data-target="#modalPayment" disabled>Book Now</button>
                                }
                                <button type="submit" id="btnSubmit" hidden>Submit</button>
                            </div>
                        }
                    </div>
                </div>

                <div class="col-lg-7 text-right">
                    <div class="display-table">
                        <div class="display-table-cell">
                            <div class="slider-right-text">
                                <h1>RENT A VAN TODAY!</h1>
                                <p>FOR AS LOW AS $10 A DAY PLUS 15% DISCOUNT <br> FOR OUR RETURNING CUSTOMERS</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--== slide Item One ==-->
</section>
<!--== Slider Area End ==-->

@Html.Partial("_HomeAboutUs")
@Html.Partial("_HomeServices")
@Html.Partial("_HomeFunFact")
@Html.Partial("_HomeTestimonial")
@Html.Partial("_HomeArticles")

@Html.Partial("~/Views/Booking/_CheckoutModal.cshtml")


<div id="maparea" style="display: none;">
</div>

@section scripts {
    <script src="~/Scripts/Client/datetimepicker/bootstrap-datetimepicker.js"></script>
    <script>
        $(document).ready(function () {

            $.ajax({
                url: '@Url.Action("GetDisabledDates", "Booking" )',
                contentType: 'application/json',
                type: 'POST',
                success: function (result) {

                    var list = [];
                    for (var x = 0; x < result.length; x++) {
                        list.push(new Date(result[x]));
                    }

                    $('.form_datetime').datetimepicker({
                        format: "mm/dd/yyyy hh:ii",
                        weekStart: 1,
                        todayBtn: 1,
                        autoclose: 1,
                        todayHighlight: 1,
                        startView: 2,
                        forceParse: 0,
                        showMeridian: 1,
                        startDate: list[list.length - 1],
                        datesDisabled: list,
                        startDate: new Date()
                    });
                },
                error: function () {
                    $('.form_datetime').datetimepicker({
                        format: "mm/dd/yyyy hh:ii",
                        weekStart: 1,
                        todayBtn: 1,
                        autoclose: 1,
                        todayHighlight: 1,
                        startView: 2,
                        forceParse: 0,
                        showMeridian: 1,
                        startDate: new Date()
                    });
                }
            });
        });

        function UpdateEndDate(dateval) {

            var selectedRide = $('#ride option:selected').val();
            if (selectedRide.length != 0) {
                // If one way ride
                if (selectedRide == "1") {
                    var d = new Date(dateval);
                    d.setDate(d.getDate() + 1);

                    var datestring = ("0" + (d.getMonth() + 1)).slice(-2) + "/" + ("0" + d.getDate()).slice(-2) + "/" +
                        d.getFullYear() + " " + ("0" + d.getHours()).slice(-2) + ":" + ("0" + d.getMinutes()).slice(-2);

                    $("#startDate").val(dateval);
                    $("#endDate").val(datestring);

                    $("#dtp_startDateSchedule").val(dateval);
                    $("#dtp_endDateSchedule").val(datestring);
                }
            }
        };

        function UpdateStartDate(dateval) {

            var selectedRide = $('#ride option:selected').val();
            if (selectedRide.length != 0) {
                // If one way ride
                if (selectedRide == "1") {
                    var d = new Date(dateval);
                    d.setDate(d.getDate() - 1);

                    var datestring = ("0" + (d.getMonth() + 1)).slice(-2) + "/" + ("0" + d.getDate()).slice(-2) + "/" +
                        d.getFullYear() + " " + ("0" + d.getHours()).slice(-2) + ":" + ("0" + d.getMinutes()).slice(-2);

                    $("#startDate").val(datestring);
                    $("#endDate").val(dateval);

                    $("#dtp_startDateSchedule").val(datestring);
                    $("#dtp_endDateSchedule").val(dateval);
                }
            }
        };
    </script>

    <script src="~/Scripts/Client/google-map.js"></script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBpTyUgoI0FLvlc8WKBYqX2lOFDrldg-lc&callback=showPosition&region=PH&language=tl">
    </script>

    <script src="https://js.braintreegateway.com/web/dropin/1.16.0/js/dropin.min.js"></script>
    <script>
        var client_token = "@ViewBag.ClientToken";
        var form = document.querySelector('#payment-form');
        var isValid = false;

        braintree.dropin.create({
            authorization: client_token,
            container: '#bt-dropin',
            paypal: {
                flow: 'vault'
            }
        }, function (createErr, instance) {
            form.addEventListener('submit', function (event) {
                event.preventDefault();
                    instance.requestPaymentMethod(function (err, payload) {
                        if (err) {
                            console.log('Error', err);
                            return;
                        }

                        // Add the nonce to the form and submit
                        document.querySelector('#payment_method_nonce').value = payload.nonce;

                        isValid = true;

                        $('#btnProceed').click();
                        $('#btnProceed').prop("disabled", true);
                    });
            });
        });

        $('#bookSchedule').click(function () {
            var startDate = $("#dtp_startDateSchedule").val();
            var endDate = $("#dtp_endDateSchedule").val();
            var selectedPickUp = $('#originLocationID option:selected').val();
            var selectedDestination = $('#destinationLocationID option:selected').val();
            var selectedRide = $('#ride option:selected').val();
            var seater = $('#seater').val();

            var hasBooking;

            $.ajax({
                url: '@Url.Action("BookingConfig", "Booking" )',
                contentType: 'application/json',
                type: 'POST'
            }).done(function (result){
                hasBooking = result.hasBooking;

                if (hasBooking)
                {
                    alert("You currently have a booking that is still on-going or queued.");
                    return false;
                }

                if (startDate.length != 0 && endDate.length != 0 && selectedPickUp.length != 0 && selectedDestination.length != 0 && selectedRide.length != 0
                    && (seater.length != 0 && seater != "0"))
                {
                    var target = $("#bookSchedule").attr('data-target');
                    $(target).modal('show');

                    $.ajax({
                        url: '@Url.Action("GetTotalPrice", "Booking" )',
                        contentType: 'application/json',
                        type: 'POST',
                        data: JSON.stringify({
                            pickUpPointID: selectedPickUp, destinationPointID: selectedDestination,
                            startDate: startDate, endDate: endDate
                        }),
                        success: function (price) {
                            // Clear discount code used
                            $('#discountSection').html('');

                            $("#payment_start_date").val(startDate);
                            $("#payment_end_date").val(endDate);

                            // Inout total amount
                            $('#hiddenAmount').val(price);
                            $('#amount').val($('#hiddenAmount').val());
                        }
                    });
                }
                else {
                    alert("Form is not yet completed.");
                    return false;
                }
            });

            @*if (hasBooking)
            {
                alert("You currently have a booking that is still on-going or queued.");
                return false;
            }

            if (startDate.length != 0 && endDate.length != 0 && selectedPickUp.length != 0 && selectedDestination.length != 0 && selectedRide.length != 0
                && (seater.length != 0 && seater != "0"))
            {
                var target = $("#bookSchedule").attr('data-target');
                $(target).modal('show');

                $.ajax({
                    url: '@Url.Action("GetTotalPrice", "Booking" )',
                    contentType: 'application/json',
                    type: 'POST',
                    data: JSON.stringify({
                        pickUpPointID: selectedPickUp, destinationPointID: selectedDestination,
                        startDate: startDate, endDate: endDate
                    }),
                    success: function (price) {
                        // Clear discount code used
                        $('#discountSection').html('');

                        // Inout total amount
                        $('#hiddenAmount').val(price);
                        $('#amount').val($('#hiddenAmount').val());
                    }
                });
            }
            else {
                alert("Form is not yet completed.");
                return false;
            }*@
        })

        function SaveBooking(data) {

            if (data.ErrorMessage.length == 0) {
                // Add OrderId
                $('#OrderId').val(data.orderId);
                $('#btnSubmit').click();
            }
        }

        $('#btnApplyDiscount').click(function () {
            var discountValue = $('#txtApplyDiscount').val();
            var amount = $('#hiddenAmount');

            if (discountValue.length != 0) {
                $.ajax({
                    url: '@Url.Action("ApplyDiscountCode", "Checkout" )',
                    contentType: 'application/json',
                    type: 'POST',
                    data: JSON.stringify({
                        discountCode: discountValue
                    }),
                    success: function (data) {
                        if (data.ErrorMessage.length == 0) {

                            // Get Discount ID
                            $('#DiscountId').val(data.id);

                            // Deduct TotalPrice to the DiscountAmount
                            var totalAmount = parseFloat(amount[0].value) - parseFloat(data.amount);
                            $('#amount').val(totalAmount);

                            $('#discountSection').html('');
                            $('#discountSection').html('<span class="text-success">Discount Code applied:</span></br>'
                                + '<span class="text-success">'
                                + data.code + " - " + data.amount
                                + '</span>');
                        }
                        else {
                            $('#discountSection').html('');
                            $('#discountSection').html('<span class="text-danger">' + data.ErrorMessage + '</span>');
                        }

                    }
                });
            }
            else {
                alert("Please enter a discount code");
            }
        })
    </script>
    <script src="~/Scripts/Client/payment/payment.js"></script>
}
