﻿
@{
    ViewBag.Title = "Services";
}

<!--== Service Page Content Start ==-->
<section id="service-page-wrapper" class="section-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <!-- Single Services Start -->
                <div class="single-service-item">
                    <div class="service-item-thumb ser-thumb-bg-1"></div>
                    <div class="service-item-content">
                        <h3>Land Tours</h3>
                        <p>
                            Be there on your targeted tourist destinations
                            anywhere in the Philippines. We can acommodate you with a safe and comfotable trip.
                        </p>
                    </div>
                </div>
                <!-- Single Services End -->
                <!-- Single Services Start -->
                <div class="single-service-item">
                    <div class="service-item-thumb ser-thumb-bg-2 d-lg-none d-md-block"></div>
                    <div class="service-item-content">
                        <h3>Hotel/Airport Services</h3>
                        <p>
                            Book with us and we can give you
                            a solution to your large lauggages. We can transer your group in any hotel in Metro Manila
                        </p>
                    </div>
                    <div class="service-item-thumb ser-thumb-bg-2 d-none d-lg-block d-md-none"></div>
                </div>
                <!-- Single Services End -->
            </div>
        </div>
    </div>
</section>
<!--== Service Page Content End ==-->
