.mail-right {
    text-align: right;

    .mail {
        font-size: 30px;
    }
}

.circle-pic{
    width:80px;
    height:75px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.fs12 {
    font-size: 12px;
    color:gray;
}