<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>
        Profile
      </ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row *ngIf="user.roleId === userRole.Customer">
      <ion-col class="mail-right">
        <ion-icon class="mail" name="mail" (click)="goToPendingBooking()"></ion-icon>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-label class="fs12">First Name:</ion-label>
        <ion-input type="text" placeholder="First Name" [(ngModel)]="user.firstName"></ion-input>

        <ion-label class="fs12">Middle Name:</ion-label>
        <ion-input type="text" placeholder="Middle Name" [(ngModel)]="user.middleName"></ion-input>

        <ion-label class="fs12">Last Name:</ion-label>
        <ion-input type="text" placeholder="Last Name" [(ngModel)]="user.lastName"></ion-input>

        <ion-label class="fs12">Email:</ion-label>
        <ion-input type="text" placeholder="Email" [(ngModel)]="user.emailAddress" disabled></ion-input>

        <ion-label class="fs12">Username:</ion-label>
        <ion-input type="text" placeholder="Username" [(ngModel)]="user.userName"></ion-input>

        <ion-label class="fs12">Password:</ion-label>
        <ion-input type="text" placeholder="Password" [(ngModel)]="user.password"></ion-input>

        <ion-label class="fs12">Birthdate:</ion-label>
        <ion-input type="text" placeholder="Birthdate" [(ngModel)]="userProfile.birthdate"></ion-input>

        <ion-label class="fs12">Cellphone Number:</ion-label>
        <ion-input type="text" placeholder="Cellphone Number" [(ngModel)]="userProfile.cellphoneNo"></ion-input>

        <ion-label class="fs12">Telephone Number:</ion-label>
        <ion-input type="text" placeholder="Telephone Number" [(ngModel)]="userProfile.telephoneNo"></ion-input>

        <ion-label class="fs12">Gender:</ion-label>
        <ion-input type="text" placeholder="Gender" [(ngModel)]="userProfile.gender"></ion-input>

        <ion-label class="fs12">Address:</ion-label>
        <ion-input type="text" placeholder="Address" [(ngModel)]="userProfile.address"></ion-input>

        <ion-label class="fs12">Municipality:</ion-label>
        <ion-input type="text" placeholder="Municipality" [(ngModel)]="userProfile.municipality"></ion-input>

        <ion-label class="fs12">City:</ion-label>
        <ion-input type="text" placeholder="City" [(ngModel)]="userProfile.city"></ion-input>

        <ion-label class="fs12">Province:</ion-label>
        <ion-input type="text" placeholder="Province" [(ngModel)]="userProfile.province"></ion-input>

        <ion-label class="fs12">Region:</ion-label>
        <ion-input type="text" placeholder="Region" [(ngModel)]="userProfile.region"></ion-input>


        <ion-button expand="block" (click)="updateUserProfile()">Update</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>