.rounded {
    width: 100%;
    // -moz-border-radius: 50px;
    // -webkit-border-radius: 50px;
    // border-radius: 10px;
    margin-bottom: 10px;  
    border: 1px solid black;
}

ion-input {
    font-size: 20px;
}

.mt-10 {
    margin-top: 20px;
}