<ion-header>
    <ion-toolbar>
      <!-- <ion-buttons slot="start">
        <ion-back-button defaultHref="payment-options"></ion-back-button>
      </ion-buttons> -->
      <ion-title>Booking Details</ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content padding>
  <ion-grid *ngIf="userCarDetail">
      <ion-label>Driver's Name: </ion-label>
      <ion-item class="rounded">
          <ion-input type="text" disabled>{{userCarDetail.driver.firstName}} {{userCarDetail.driver.lastName}}</ion-input>
      </ion-item>
      <ion-label>Brand: </ion-label>
      <ion-item class="rounded">
          <ion-input type="text" disabled>{{userCarDetail.brand}}</ion-input>
      </ion-item>
      <ion-label>Model: </ion-label>
      <ion-item class="rounded">
          <ion-input type="text" disabled>{{userCarDetail.model}}</ion-input>
      </ion-item>
      <ion-label>Color: </ion-label>
      <ion-item class="rounded">
          <ion-input type="text" disabled>{{userCarDetail.color}}</ion-input>
      </ion-item>
      <ion-label>Plate Number: </ion-label>
      <ion-item class="rounded">
          <ion-input type="text" disabled>{{userCarDetail.plateNumber}}</ion-input>
      </ion-item>
      <ion-label>Total Kilometer: </ion-label>
      <ion-item class="rounded">
          <ion-input type="text" disabled>{{userCarDetail.totalKilometer}}</ion-input>
      </ion-item>
      <ion-button expand="block" color="warning" size="medium" class="mt-10" (click)="cancelBooking()">
        Cancel
      </ion-button>
      <ion-button expand="block" color="primary" size="medium" (click)="goToHome()">
        Go back to Home
      </ion-button>
  </ion-grid>
</ion-content>
