<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="rates"></ion-back-button>
    </ion-buttons>
    <ion-title>Payment</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-list>
      <ion-radio-group>
        <ion-list-header>
          <ion-label>Payment Options</ion-label>
        </ion-list-header>
        <ion-item>
          <ngx-braintree [clientTokenURL]="tokenUrl" [createPurchaseURL]="purchaseUrl"
            [chargeAmount]="booking.totalPrice" (paymentStatus)="onPaymentStatus($event)" [buttonText]="'Pay with Card'"
            [enablePaypalCheckout]="true" [currency]="'PHP'">
          </ngx-braintree>
        </ion-item>
      </ion-radio-group>
    </ion-list>

    <ion-button expand="block" (click)="submitPayment()">
      <span *ngIf="!isPaying">Pay with Cash (Half Downpayment)</span>
      <ion-spinner *ngIf="isPaying" name="bubbles"></ion-spinner>
    </ion-button>

    <ion-button expand="block" (click)="submitPayment()">
      <span *ngIf="!isPaying">Pay with Cash (Full Downpayment)</span>
      <ion-spinner *ngIf="isPaying" name="bubbles"></ion-spinner>
    </ion-button>
  </ion-grid>
</ion-content>