﻿@model THP.Web.Areas.Admin.Models.Customer.Customer
@{
    ViewBag.Title = "Edit";
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Customer
        <small>Collection of all users registered on your website</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="@Url.Action("Index","Customer")"><i class="fa fa-files-o"></i> Catalog</a></li>
        <li><a href="@Url.Action("Index","Customer")">Customers</a></li>
        <li class="active">@Model.CustomerId</li>
    </ol>
</section>

<section class="content">
    <div class="row">
        <div class="col-lg-12">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">Customer Information</h3>

                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip"
                                title="Collapse">
                            <i class="fa fa-minus"></i>
                        </button>
                        <button type="button" class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip" title="Remove">
                            <i class="fa fa-times"></i>
                        </button>
                    </div>
                </div>
                @using (Html.BeginForm("Edit", "Customer", FormMethod.Post))
                {
                    <div class="box-body">
                        <div class="row">
                            @Html.HiddenFor(m => m.CustomerId)
                            <div class="col-lg-12 col-md-12">
                                <div class="col-lg-4 col-md-4">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.Firstname)
                                        @Html.TextBoxFor(m => m.Firstname, "", htmlAttributes: new { @class = "form-control" })
                                        @Html.ValidationMessageFor(m => m.Firstname, "", htmlAttributes: new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.Middlename)
                                        @Html.TextBoxFor(m => m.Middlename, "", htmlAttributes: new { @class = "form-control" })
                                        @Html.ValidationMessageFor(m => m.Middlename, "", htmlAttributes: new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.Lastname)
                                        @Html.TextBoxFor(m => m.Lastname, "", htmlAttributes: new { @class = "form-control" })
                                        @Html.ValidationMessageFor(m => m.Lastname, "", htmlAttributes: new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12">
                                <div class="col-lg-6 col-md-6">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.EmailAddress)
                                        @Html.TextBoxFor(m => m.EmailAddress, "", htmlAttributes: new { @class = "form-control" })
                                        @Html.ValidationMessageFor(m => m.EmailAddress, "", htmlAttributes: new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.Role)
                                        @Html.DropDownListFor(m => m.RoleID, Model.Roles, "", htmlAttributes: new { @class = "form-control select2 select2-hidden-accessible" })
                                        @Html.ValidationMessageFor(m => m.RoleID, "", htmlAttributes: new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12">
                                <div class="col-lg-6 col-md-6">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.Username)
                                        @Html.TextBoxFor(m => m.Username, "", htmlAttributes: new { @class = "form-control" })
                                        @Html.ValidationMessageFor(m => m.Username, "", htmlAttributes: new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.Password)
                                        @Html.PasswordFor(m => m.Password, htmlAttributes: new { @class = "form-control" })
                                        @Html.ValidationMessageFor(m => m.Password, "", htmlAttributes: new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            @Html.HiddenFor(m => m.CustomerDetailId)
                            <div class="col-lg-12 cold-md-12">
                                <div class="col-lg-6 col-md-6">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.Birthdate)
                                        <div class="input-group">
                                            <div class="input-group-addon">
                                                <i class="fa fa-calendar"></i>
                                            </div>
                                            @Html.TextBoxFor(m => m.Birthdate, "", htmlAttributes: new { @class = "form-control pull-right", @id = "birthdate" })
                                        </div>
                                        @Html.ValidationMessageFor(m => m.Birthdate, "", htmlAttributes: new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.Gender)
                                        @Html.DropDownListFor(m => m.Gender, Model.Genders, "", htmlAttributes: new { @class = "form-control select2 select2-hidden-accessible" })
                                        @Html.ValidationMessageFor(m => m.Gender, "", htmlAttributes: new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12">
                                <div class="col-lg-6 col-md-6">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.CellphoneNo)
                                        @Html.TextBoxFor(m => m.CellphoneNo, "", htmlAttributes: new { @class = "form-control" })
                                        @Html.ValidationMessageFor(m => m.CellphoneNo, "", htmlAttributes: new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.TelephoneNo)
                                        @Html.TextBoxFor(m => m.TelephoneNo, "", htmlAttributes: new { @class = "form-control" })
                                        @Html.ValidationMessageFor(m => m.TelephoneNo, "", htmlAttributes: new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12">
                                <div class="col-lg-12 col-md-12">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.Address)
                                        @Html.TextBoxFor(m => m.Address, "", htmlAttributes: new { @class = "form-control" })
                                        @Html.ValidationMessageFor(m => m.Address, "", htmlAttributes: new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12">
                                <div class="col-lg-6 col-md-6">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.Municipality)
                                        @Html.TextBoxFor(m => m.Municipality, "", htmlAttributes: new { @class = "form-control" })
                                        @Html.ValidationMessageFor(m => m.Municipality, "", htmlAttributes: new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.City)
                                        @Html.TextBoxFor(m => m.City, "", htmlAttributes: new { @class = "form-control" })
                                        @Html.ValidationMessageFor(m => m.City, "", htmlAttributes: new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12">
                                <div class="col-lg-6 col-md-6">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.Province)
                                        @Html.TextBoxFor(m => m.Province, "", htmlAttributes: new { @class = "form-control" })
                                        @Html.ValidationMessageFor(m => m.Province, "", htmlAttributes: new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.Region)
                                        @Html.TextBoxFor(m => m.Region, "", htmlAttributes: new { @class = "form-control" })
                                        @Html.ValidationMessageFor(m => m.Region, "", htmlAttributes: new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer">
                        <input type="submit" class="btn btn-primary" value="Save" />
                    </div>
                    <!-- /.box-footer-->
                }
            </div>
        </div>
    </div>
</section>

@section scripts {

    <!-- bootstrap datepicker -->
    <script src="~/Content/Admin/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
    <script>
        $(function () {
            //Date picker
            $('#birthdate').datepicker({
              autoclose: true
            })
        })
    </script>

}