<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="profile"></ion-back-button>
    </ion-buttons>
    <ion-title>Notifications</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-card class="m-0" *ngIf="pendingBooking"  (click)="cancelTrip()">
      <ion-card-header>
        <ion-card-subtitle>{{pendingBooking.startDateScheduled | date:'shortDate'}} - {{pendingBooking.status}}
        </ion-card-subtitle>
        <ion-card-title>{{pendingBooking.travelRate.pickupPoint.name}} - {{pendingBooking.travelRate.destinationPoint.name}}</ion-card-title>
      </ion-card-header>
    </ion-card>
    <ion-card class="m-0" *ngFor="let booking of bookingsWithoutReview" (click)="rateTrip(booking.Id)">
      <ion-card-header>
        <ion-card-subtitle>{{booking.dateCompleted | date:'shortDate'}} - {{booking.status}}
        </ion-card-subtitle>
        <ion-card-title>{{booking.travelRate.pickupPoint.name}} - {{booking.travelRate.destinationPoint.name}}</ion-card-title>
      </ion-card-header>
    </ion-card>
  </ion-list>
</ion-content>