﻿<!-- /.content-wrapper -->
<footer class="main-footer">
    <div class="pull-right hidden-xs">
        <b>Version</b> 2.4.0
    </div>
    <strong>
        Copyright &copy;
        <script>document.write(new Date().getFullYear());</script> <a href="#">THP Van Rental</a>.
    </strong> All rights
    reserved.
</footer>
