﻿@using THP.Web.Models.DAL.Data.Enum
<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu" data-widget="tree">
            <li class="header">MAIN NAVIGATION</li>
            <li><a href="@Url.Action("Index", "Home")"><i class="fa fa-laptop"></i> <span>Dashboard</span></a></li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-files-o"></i>
                    <span>Catalog</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="@Url.Action("Index", "Car")"><i class="fa fa-circle-o"></i> Car</a></li>
                    @if (HttpContext.Current.Session["roleID"].ToString() == Convert.ToString((int)RoleType.Admin))
                    {
                        <li><a href="@Url.Action("Index", "Destination")"><i class="fa fa-circle-o"></i> Destinations</a></li>
                        <li><a href="@Url.Action("Index", "Discount")"><i class="fa fa-circle-o"></i> Discounts</a></li>
                        <li><a href="@Url.Action("Index", "TravelRate")"><i class="fa fa-circle-o"></i> Travel Rates</a></li>
                    }
                </ul>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-money"></i>
                    <span>Sales</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="@Url.Action("Index", "Booking")"><i class="fa fa-circle-o"></i> Booking</a></li>
                </ul>
            </li>
            @if (HttpContext.Current.Session["roleID"].ToString() == Convert.ToString((int)RoleType.Admin))
            {
                <li class="treeview">
                    <a href="#">
                        <i class="fa fa-gears"></i>
                        <span>Admin</span>
                        <span class="pull-right-container">
                            <i class="fa fa-angle-left pull-right"></i>
                        </span>
                    </a>
                    <ul class="treeview-menu">
                        <li><a href="@Url.Action("Index", "Customer")"><i class="fa fa-circle-o"></i> Customers</a></li>
                        <li><a href="@Url.Action("Index", "Role")"><i class="fa fa-circle-o"></i> Roles</a></li>
                        <li><a href="@Url.Action("Index", "PaymentType")"><i class="fa fa-circle-o"></i> Payment Types</a></li>
                        <li><a href="@Url.Action("Index", "ServiceType")"><i class="fa fa-circle-o"></i> Service Types</a></li>
                        <li><a href="@Url.Action("Index", "TopicPage")"><i class="fa fa-circle-o"></i> Topic Page</a></li>
                    </ul>
                </li>
            }
            <li><a href="https://adminlte.io/docs"><i class="fa fa-book"></i> <span>Documentation</span></a></li>
            <li class="header">LABELS</li>
            <li><a href="#"><i class="fa fa-circle-o text-red"></i> <span>Important</span></a></li>
            <li><a href="#"><i class="fa fa-circle-o text-yellow"></i> <span>Warning</span></a></li>
            <li><a href="#"><i class="fa fa-circle-o text-aqua"></i> <span>Information</span></a></li>
        </ul>
    </section>
    <!-- /.sidebar -->
</aside>
