﻿<header class="main-header">
    <!-- Logo -->
    <a href="index2.html" class="logo">
        <!-- mini logo for sidebar mini 50x50 pixels -->
        <span class="logo-mini"><b>T</b>HP</span>
        <!-- logo for regular state and mobile devices -->
        <span class="logo-lg"><b>THP</b> Rental</span>
    </a>
    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top">
        <!-- Sidebar toggle button-->
        <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
            <span class="sr-only">Toggle navigation</span>
        </a>

        <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
                <li><a href="@Url.Action("Index", "Home", new { area = ""})">Public Store</a></li>
                <li><a href="@Url.Action("Logout", "Account", new { area = ""})">Logout</a></li>
            </ul>
        </div>
    </nav>
</header>
