﻿@model THP.Web.Models.DAL.Data.Order.OrderViewModel
@using THP.Web.Models
@using THP.Web.Models.DAL.Data.Enum
@{
    ViewBag.Title = "Booking Detail";
}

<!--== Page Title Area Start ==-->
<section id="page-title-area" class="section-padding overlay">
    <div class="container">
        <div class="row">
            <!-- Page Title Start -->
            <div class="col-lg-12">
                <div class="section-title  text-center">
                    <h2>Booking</h2>
                    <span class="title-line"><i class="fa fa-car"></i></span>
                    <p>
                        View more details of your booking to see the information you have provided to the system
                    </p>
                </div>
            </div>
            <!-- Page Title End -->
        </div>
    </div>
</section>
<!--== Page Title Area End ==-->
<!--== Detail Area Start ==-->
<div class="section-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 m-auto">
                <div class="profile-form">
                    <div class="row">
                        <!-- Section Title Start -->
                        <div class="col-lg-12">
                            <div class="section-title  text-center">
                                <h2>Booking Details</h2>
                                <span class="title-line"><i class="fa fa-car"></i></span>
                                <p>more information</p>
                            </div>
                        </div>
                        <!-- Section Title End -->
                    </div>
                    <!--== Booking Area Start ==-->
                    <div class="row">
                        <div class="col-lg-6 col-md-6">
                            <div class="text-input">
                                @Html.LabelFor(m => m.BookingNo)
                                @Html.TextBoxFor(m => m.BookingNo, "", htmlAttributes: new { @class = "form-control", @readonly = "true" })
                            </div>
                        </div>

                        <div class="col-lg-6 col-md-6">
                            <div class="text-input">
                                @Html.LabelFor(m => m.DriverName)
                                @Html.TextBoxFor(m => m.DriverName, "", htmlAttributes: new { @class = "form-control", @readonly = "true" })
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-lg-6 col-md-6">
                            <div class="text-input">
                                @Html.LabelFor(m => m.StartDateSchedule)
                                @Html.TextBoxFor(m => m.StartDateSchedule, "", htmlAttributes: new { @class = "form-control", @readonly = "true" })
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div class="text-input">
                                @Html.LabelFor(m => m.EndDateSchedule)
                                @Html.TextBoxFor(m => m.EndDateSchedule, "", htmlAttributes: new { @class = "form-control", @readonly = "true" })
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-lg-6 col-md-6">
                            <div class="text-input">
                                @Html.LabelFor(m => m.PickupPoint)
                                @Html.TextBoxFor(m => m.PickupPoint, "", htmlAttributes: new { @class = "form-control", @readonly = "true" })
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div class="text-input">
                                @Html.LabelFor(m => m.DestinationPoint)
                                @Html.TextBoxFor(m => m.DestinationPoint, "", htmlAttributes: new { @class = "form-control", @readonly = "true" })
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-lg-6 col-md-6">
                            <div class="text-input">
                                @Html.LabelFor(m => m.Seater)
                                @Html.TextBoxFor(m => m.Seater, "", htmlAttributes: new { @class = "form-control", @readonly = "true" })
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div class="text-input">
                                @Html.LabelFor(m => m.Status)
                                @Html.TextBoxFor(m => m.Status, "", htmlAttributes: new { @class = "form-control", @readonly = "true" })
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-lg-4 col-md-4">
                            <div class="text-input">
                                @Html.LabelFor(m => m.Currency)
                                @Html.TextBoxFor(m => m.Currency, "", htmlAttributes: new { @class = "form-control", @readonly = "true" })
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4">
                            <div class="text-input">
                                @Html.LabelFor(m => m.TotalPrice)
                                @Html.TextBoxFor(m => m.TotalPrice, "", htmlAttributes: new { @class = "form-control", @readonly = "true" })
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4">
                            <div class="text-input">
                                @Html.LabelFor(m => m.PaymentType)
                                @Html.TextBoxFor(m => m.PaymentType, "", htmlAttributes: new { @class = "form-control", @readonly = "true" })
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-lg-12 col-md-12">
                            <div class="input-submit">
                                @if (Model.Status != Constant.BOOKING_STATUS_COMPLETE || Model.Status != Constant.BOOKING_STATUS_CANCELLED)
                                {
                                    if (HttpContext.Current.Session["roleID"] != null && HttpContext.Current.Session["roleID"].ToString() != Convert.ToString((int)RoleType.Customer))
                                    {
                                        <button class="pull-right btn btn-success" onclick="CompleteBooking(@Model.BookingId)" title="Complete Booking">Complete</button>
                                    }

                                    if (HttpContext.Current.Session["roleID"] != null && HttpContext.Current.Session["roleID"].ToString() != Convert.ToString((int)RoleType.Driver))
                                    {
                                        <button class="pull-right btn btn-danger" onclick="CancelBooking(@Model.BookingId)" title="Cancel Booking">Cancel</button>
                                    }
                                }
                                <!--<a href="@Url.Action("AccountProfile", "Account")" class="pull-right btn btn-warning">Back</a>-->
                            </div>
                        </div>
                    </div>
                    <!--== Booking Area End ==-->
                </div>
            </div>
        </div>
    </div>
</div>
<!--== Detail Area End ==-->
@if (Model.Status == Constant.BOOKING_STATUS_COMPLETE && Model.CustomerID == AccountConstant.UserID)
{
    <!--== Booking Review Area Start ==-->
    <section class="section-padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 m-auto">
                    <div class="profile-form">
                        <div class="row">
                            <!-- Section Title Start -->
                            <div class="col-lg-12">
                                <div class="section-title  text-center">
                                    <h2>Booking Review</h2>
                                    <span class="title-line"><i class="fa fa-car"></i></span>
                                    <p>How was your experience on our service?</p>
                                </div>
                            </div>
                            <!-- Section Title End -->
                        </div>
                        @if (Model.BookingReviewID == 0)
                        {
                            using (Html.BeginForm("Details", "Order", FormMethod.Post))
                            {
                                <!--== Booking Review Area Start ==-->
                                @Html.AntiForgeryToken()
                                @Html.HiddenFor(m => m.BookingId)
                                <div class="row">
                                    <div class="col-lg-12 col-md-12">
                                        <div class="text-input">
                                            @Html.LabelFor(m => m.Rating)
                                            @Html.DropDownListFor(m => m.Rating, Model.Ratings, "-- Select Rating --", htmlAttributes: new { @class = "custom-select custom-select-style" })
                                        </div>
                                    </div>
                                </div>
                                <br />
                                <div class="row">
                                    <div class="col-lg-12 col-md-12">
                                        <div class="text-input">
                                            @Html.LabelFor(m => m.Message)
                                            @Html.TextAreaFor(m => m.Message, htmlAttributes: new { @class = "form-control" })
                                        </div>
                                    </div>
                                </div>
                                <br />
                                <div class="row">
                                    <div class="col-lg-12 col-md-12">
                                        <div class="input-submit">
                                            <button type="submit" class="pull-right">Submit Review</button>
                                        </div>
                                    </div>
                                </div>
                                <!--== Booking Review Area End ==-->
                            }
                        }
                        else
                        {
                            <div class="row">
                                <div class="col-lg-12 col-md-12">
                                    <div class="text-input">
                                        @Html.LabelFor(m => m.Rating)
                                        @Html.DropDownListFor(m => m.Rating, Model.Ratings, "-- Select Rating --", htmlAttributes: new { @class = "custom-select custom-select-style", @readonly = "true" })
                                    </div>
                                </div>
                            </div>
                            <br />
                            <div class="row">
                                <div class="col-lg-12 col-md-12">
                                    <div class="text-input">
                                        @Html.LabelFor(m => m.Message)
                                        @Html.TextAreaFor(m => m.Message, htmlAttributes: new { @class = "form-control", @readonly = "true" })
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--== Booking Review Area End ==-->
}

@section scripts
{
    <script>
        function CompleteBooking(id) {

            var confirmation = confirm('Are you sure you want to coninue?');

            if (confirmation == true) {
                $.ajax({
                    url: '@Url.Action("CompleteBooking", "Booking" )',
                    contentType: 'application/json',
                    type: 'POST',
                    data: JSON.stringify({
                        bookingId: id
                    }),
                    success: function (data) {

                        alert(data.Message);
                    }
                });
            }
        }

        function CancelBooking(id) {

            var confirmation = confirm('Are you sure you want to coninue?');

            if (confirmation == true) {
                $.ajax({
                    url: '@Url.Action("CancelBooking", "Booking" )',
                    contentType: 'application/json',
                    type: 'POST',
                    data: JSON.stringify({
                        bookingId: id
                    }),
                    success: function (data) {

                        alert(data.Message);
                    }
                });
            }
        }
    </script>
}