<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="driver-location"></ion-back-button>
    </ion-buttons>
    <ion-title>Driver's Location</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div id="mapContainer" class="map-container"></div>
</ion-content>
