﻿@model THP.Web.Areas.Admin.Models.Discount.Discount
@using THP.Web.Models
@{
    ViewBag.Title = "Add";
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Discounts
        <small>Collection of all discounts on your website</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="@Url.Action("Index")"><i class="fa fa-files-o"></i> Catalog</a></li>
        <li><a href="@Url.Action("Index")">Discount</a></li>
        <li class="active">Add</li>
    </ol>
</section>

<section class="content">
    <div class="row">
        <div class="col-lg-12">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">Discounts Information</h3>

                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip"
                                title="Collapse">
                            <i class="fa fa-minus"></i>
                        </button>
                        <button type="button" class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip" title="Remove">
                            <i class="fa fa-times"></i>
                        </button>
                    </div>
                </div>
                @using (Html.BeginForm("Add", "Discount", FormMethod.Post))
                {
                    <div class="box-body">
                        <div class="row">
                            @Html.HiddenFor(m => m.DiscountId)
                            <div class="col-lg-12 col-md-12">
                                <div class="col-lg-12 col-md-12">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.Name)
                                        @Html.TextBoxFor(m => m.Name, "", htmlAttributes: new { @class = "form-control" })
                                        @Html.ValidationMessageFor(m => m.Name, "", htmlAttributes: new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12">
                                <div class="col-lg-12 col-md-12">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.DiscountAmount)
                                        @Html.TextBoxFor(m => m.DiscountAmount, "", htmlAttributes: new { @class = "form-control" })
                                        @Html.ValidationMessageFor(m => m.DiscountAmount, "", htmlAttributes: new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12">
                                <div class="col-lg-12 col-md-12">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.HasCouponCode)
                                        &nbsp;
                                        @Html.CheckBoxFor(m => m.HasCouponCode)
                                        @Html.ValidationMessageFor(m => m.HasCouponCode, "", htmlAttributes: new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12">
                                <div class="col-lg-12 col-md-12">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.CouponCode)
                                        @Html.TextBoxFor(m => m.CouponCode, "", htmlAttributes: new { @class = "form-control" })
                                        @Html.ValidationMessageFor(m => m.CouponCode, "", htmlAttributes: new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12">
                                <div class="col-lg-12 col-md-12">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.StartDate)
                                        <div class="input-group">
                                            <div class="input-group-addon">
                                                <i class="fa fa-calendar"></i>
                                            </div>
                                            @Html.TextBoxFor(m => m.StartDate, "", htmlAttributes: new { @class = "form-control pull-right", @id = "startdate" })
                                        </div>
                                        @Html.ValidationMessageFor(m => m.StartDate, "", htmlAttributes: new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12">
                                <div class="col-lg-12 col-md-12">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.EndDate)
                                        <div class="input-group">
                                            <div class="input-group-addon">
                                                <i class="fa fa-calendar"></i>
                                            </div>
                                            @Html.TextBoxFor(m => m.EndDate, "", htmlAttributes: new { @class = "form-control pull-right", @id = "enddate" })
                                        </div>
                                        @Html.ValidationMessageFor(m => m.EndDate, "", htmlAttributes: new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer">
                        <input type="submit" class="btn btn-primary" value="Save" />
                    </div>
                    <!-- /.box-footer-->
                }
            </div>
        </div>
    </div>
</section>

@section scripts {

    <!-- bootstrap datepicker -->
    <script src="~/Content/Admin/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
    <script>
        $(function () {
            var dateFormat = '@AccountConstant.DateTimeFormat';

            //Date picker
            $('#startdate').datepicker({
                autoclose: true,
                format: dateFormat
            })

            //Date picker
            $('#enddate').datepicker({
                autoclose: true,
                format: dateFormat
            })
        })
    </script>

}
