﻿@model THP.Web.Areas.Admin.Models.Discount.DiscountViewModel
@{
    ViewBag.Title = "Discounts";
}

@section css{

    <!-- DataTables -->
    <link rel="stylesheet" href="~/Content/Admin/datatables.net-bs/css/dataTables.bootstrap.min.css">
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Discounts
        <small>Collection of all discounts on your website</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-files-o"></i> Catalog</a></li>
        <li class="active">Discounts</li>
    </ol>
</section>

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <!-- Default box -->
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">Search Filter</h3>

                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip"
                                title="Collapse">
                            <i class="fa fa-minus"></i>
                        </button>
                        <button type="button" class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip" title="Remove">
                            <i class="fa fa-times"></i>
                        </button>
                    </div>
                </div>
                <div class="box-body">
                    Start creating your amazing application!
                </div>
                <!-- /.box-body -->
                <div class="box-footer">
                    Footer
                </div>
                <!-- /.box-footer-->
            </div>
            <!-- /.box -->
            <!-- Default box -->
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">Record</h3>

                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip"
                                title="Collapse">
                            <i class="fa fa-minus"></i>
                        </button>
                        <button type="button" class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip" title="Remove">
                            <i class="fa fa-times"></i>
                        </button>
                    </div>
                </div>
                <div class="box-body">
                    <div class="pull-left">
                        <a class="btn bg-blue" href="@Url.Action("Add")">
                            <i class="fa fa-plus-square"></i>
                            Add new
                        </a>
                    </div>
                    <table id="main-table" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Discount Amount</th>
                                <th>Date Effective</th>
                                <th>Created</th>
                                <th>Updated</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var data in Model.Discounts)
                            {
                                <tr>
                                    <td>@data.Name</td>
                                    <td>@data.DiscountAmount</td>
                                    <td>
                                        Start Date: @data.StartDate
                                        <br />
                                        End Date : @data.EndDate
                                    </td>
                                    <td>
                                        <span>Date Created: @data.DateCreated</span>
                                        <br />
                                        <span>Created By: @data.CreatedBy</span>
                                    </td>
                                    <td>
                                        <span>Date Updated: @data.DateUpdated</span>
                                        <br />
                                        <span>Updated By: @data.UpdatedBy</span>
                                    </td>
                                    <td>
                                        <a href="@Url.Action("Edit", routeValues: new { @id = data.DiscountId })" class="btn btn-default btn-sm">
                                            <i class="fa fa-eye"></i> Edit
                                        </a>
                                        <a href="@Url.Action("Delete", routeValues: new { @id = data.DiscountId })"
                                           onclick="return confirm('You are about to delete this record, are you sure you want to continue?')"
                                           class="btn btn-default btn-sm">
                                            <i class="fa fa-trash-o"></i> Delete
                                        </a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
    </div>
</section>
<!-- /.content -->

@section scripts{

    <!-- DataTables -->
    <script src="~/Content/Admin/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="~/Content/Admin/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>

    <script>
      $(function () {
        $('#main-table').DataTable({
          'paging'      : true,
          'lengthChange': false,
          'searching'   : true,
          'ordering'    : true,
          'info'        : true,
          'autoWidth'   : false
        })
      })
    </script>
}

