<!-- <ion-header>
  <ion-toolbar>
    <ion-title>THP</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content padding>
  <ion-grid class="grid-logo">
    <ion-row class="row-logo">
      <ion-img class="logo" src="../../assets/images/logo2.png"></ion-img>
    </ion-row>
  </ion-grid>
  <ion-grid class="bottom-grid">
    <ion-item class="rounded">
      <ion-input type="text" placeholder="Username" [(ngModel)]="account.userName"></ion-input>
    </ion-item>
    <ion-item class="rounded">
      <ion-input type="password" placeholder="Password" [(ngModel)]="account.password"></ion-input>
    </ion-item>
    <ion-button expand="block" (click)="login()" color="medium">
      <span *ngIf="!isLoggingIn">{{'Login' | uppercase}}</span>
      <ion-spinner *ngIf="isLoggingIn" name="bubbles"></ion-spinner>
    </ion-button>
    <p text-center>OR</p>
    <ion-button class="ion-margin-bottom" expand="block" (click)="facebookLogin()">
      <span *ngIf="!isFacebookLoggingIn">{{'Log in with Facebook' | uppercase}}</span>
      <ion-spinner *ngIf="isFacebookLoggingIn" name="bubbles"></ion-spinner>
    </ion-button>
    <ion-button expand="block" (click)="googleLogin()" color="danger">
      <span *ngIf="!isGoogleLoggingIn">{{'Log in with Google' | uppercase}}</span>
      <ion-spinner *ngIf="isGoogleLoggingIn" name="bubbles"></ion-spinner>
    </ion-button>
    <p [routerLink]="['/registration']" routerLinkActive="root" text-center>Dont have an account? SIGN UP!</p>
  </ion-grid>
</ion-content>