ion-content {
    --ion-background-color:rgba(255, 255, 255, 0.8);

    ion-item {
        --ion-background-color: rgba(255, 255, 255, 0.8);
    }

    .bottom-grid {
        background-color: rgba(255, 255, 255, 0.8);
    }
}

.logo {
    width: 40%;
}

.row-logo {
    justify-content: center;
}

.grid-logo {
    margin-top: 20%;
    margin-bottom: 20%;
}

.rounded {
    width: 100%;
    // -moz-border-radius: 50px;
    // -webkit-border-radius: 50px;
    // border-radius: 10px;
    margin-bottom: 10px;  
    border: 1px solid black;
}