﻿@model THP.Web.Areas.Admin.Models.Booking.Booking
@{
    ViewBag.Title = "Details";
}

@section css{

    <!-- DataTables -->
    <link rel="stylesheet" href="~/Content/Admin/datatables.net-bs/css/dataTables.bootstrap.min.css">
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Booking
        <small>Collection of all bookings and transactions on your website</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-files-o"></i> Catalog</a></li>
        <li>Booking</li>
        <li class="active">@Model.BookingNo</li>
    </ol>
</section>

<section class="content">
    <div class="row">
        <div class="col-lg-12">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">Booking Information</h3>

                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip"
                                title="Collapse">
                            <i class="fa fa-minus"></i>
                        </button>
                        <button type="button" class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip" title="Remove">
                            <i class="fa fa-times"></i>
                        </button>
                    </div>
                </div>
                <div class="box-body">
                    <div class="panel-group">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <div class="col-md-3">
                                            @Html.LabelFor(m => m.BookingNo, htmlAttributes: new { @class = "control-label" })
                                        </div>
                                        <div class="col-md-9">
                                            <div class="form-text-row">@Model.BookingNo</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <div class="col-md-3">
                                            @Html.LabelFor(m => m.Status, htmlAttributes: new { @class = "control-label" })
                                        </div>
                                        <div class="col-md-9">
                                            <div class="form-text-row">@Model.Status</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <div class="col-md-3">
                                            @Html.LabelFor(m => m.CustomerName, htmlAttributes: new { @class = "control-label" })
                                        </div>
                                        <div class="col-md-9">
                                            <div class="form-text-row">@Model.CustomerName</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <div class="col-md-3">
                                            @Html.LabelFor(m => m.DriverName, htmlAttributes: new { @class = "control-label" })
                                        </div>
                                        <div class="col-md-9">
                                            <div class="form-text-row">@Model.DriverName</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <div class="col-md-3">
                                            @Html.LabelFor(m => m.StartDateScheduled, htmlAttributes: new { @class = "control-label" })
                                        </div>
                                        <div class="col-md-9">
                                            <div class="form-text-row">@Model.StartDateScheduled</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <div class="col-md-3">
                                            @Html.LabelFor(m => m.EndDateScheduled, htmlAttributes: new { @class = "control-label" })
                                        </div>
                                        <div class="col-md-9">
                                            <div class="form-text-row">@Model.EndDateScheduled</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <div class="col-md-3">
                                            @Html.LabelFor(m => m.Seater, htmlAttributes: new { @class = "control-label" })
                                        </div>
                                        <div class="col-md-9">
                                            <div class="form-text-row">@Model.Seater</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <div class="col-md-3">
                                            @Html.LabelFor(m => m.PaymentType, htmlAttributes: new { @class = "control-label" })
                                        </div>
                                        <div class="col-md-9">
                                            <div class="form-text-row">@Model.PaymentType</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <div class="col-md-3">
                                            @Html.LabelFor(m => m.TotalPrice, htmlAttributes: new { @class = "control-label" })
                                        </div>
                                        <div class="col-md-9">
                                            <div class="form-text-row">@Model.TotalPrice</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <div class="col-md-3">
                                            @Html.LabelFor(m => m.DiscountCode, htmlAttributes: new { @class = "control-label" })
                                        </div>
                                        <div class="col-md-9">
                                            <div class="form-text-row">@Model.DiscountCode</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <div class="col-md-3">
                                            @Html.LabelFor(m => m.DateCreated, htmlAttributes: new { @class = "control-label" })
                                        </div>
                                        <div class="col-md-9">
                                            <div class="form-text-row">@Model.DateCreated</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <div class="col-md-3">
                                            @Html.LabelFor(m => m.CreatedBy, htmlAttributes: new { @class = "control-label" })
                                        </div>
                                        <div class="col-md-9">
                                            <div class="form-text-row">@Model.CreatedBy</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <div class="col-md-3">
                                            @Html.LabelFor(m => m.DateUpdated, htmlAttributes: new { @class = "control-label" })
                                        </div>
                                        <div class="col-md-9">
                                            <div class="form-text-row">@Model.DateUpdated</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <div class="col-md-3">
                                            @Html.LabelFor(m => m.UpdatedBy, htmlAttributes: new { @class = "control-label" })
                                        </div>
                                        <div class="col-md-9">
                                            <div class="form-text-row">@Model.UpdatedBy</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <table id="main-table" class="table table-bordered table-striped">
                                    <thead>
                                        <tr>
                                            <th>From</th>
                                            <th>To</th>
                                            <th>Price</th>
                                            <th>Created</th>
                                            <th>Updated</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>@Model.TravelRate.DestinationFrom</td>
                                            <td>@Model.TravelRate.DestinationTo</td>
                                            <td>
                                                Fixed Price: @Model.TravelRate.FixedPrice PHP
                                                <br />
                                                Overnight: @Model.TravelRate.Overnight PHP
                                                <br />
                                                Overtime @Model.TravelRate.Overtime PHP
                                                <br />
                                            </td>
                                            <td>
                                                <span>Date Created: @Model.TravelRate.DateCreated</span>
                                                <br />
                                                <span>Created By: @Model.TravelRate.CreatedBy</span>
                                            </td>
                                            <td>
                                                <span>Date Updated: @Model.TravelRate.DateUpdated</span>
                                                <br />
                                                <span>Updated By: @Model.TravelRate.UpdatedBy</span>
                                            </td>
                                            <td>
                                                <a href="@Url.Action("Edit","TravelRate", routeValues: new { @id = Model.TravelRate.TravelRateId })" class="btn btn-default btn-sm">
                                                    <i class="fa fa-eye"></i> View
                                                </a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <table id="main-table" class="table table-bordered table-striped">
                                    <thead>
                                        <tr>
                                            <th>Rating</th>
                                            <th>Message</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>@Model.BookingReview.Rating</td>
                                            <td>@Model.BookingReview.Message</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.box-body -->
                <div class="box-footer">
                    <div class="pull-left">
                        <button class="btn btn-success" onclick="CompleteBooking(@Model.BookingID)" title="Complete Booking">
                            Complete
                        </button>
                        <button class="btn btn-primary" onclick="OnGoingBooking(@Model.BookingID)" title="On Going Booking">
                            On Going
                        </button>
                        <button class="btn btn-danger" onclick="CancelBooking(@Model.BookingID)" title="Cancel Booking">
                            Cancel
                        </button>
                    </div>
                </div>
                <!-- /.box-footer-->
            </div>
        </div>
    </div>
</section>

@section scripts{

    <!-- DataTables -->
    <script src="~/Content/Admin/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="~/Content/Admin/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>

    <script>
        $(function () {
            $('#main-table').DataTable({
                'paging': true,
                'lengthChange': false,
                'searching': false,
                'ordering': false,
                'info': true,
                'autoWidth': false
            })
        })

        function CompleteBooking(id) {

            var confirmation = confirm('Are you sure you want to coninue?');

            if (confirmation == true) {
                $.ajax({
                    url: '@Url.Action("CompleteBooking", "Booking" )',
                    contentType: 'application/json',
                    type: 'POST',
                    data: JSON.stringify({
                        bookingId: id
                    }),
                    success: function (data) {

                        alert(data.Message);
                    }
                });
            }
        }

        function OnGoingBooking(id) {

            var confirmation = confirm('Are you sure you want to coninue?');

            if (confirmation == true) {
                $.ajax({
                    url: '@Url.Action("OnGoingBooking", "Booking" )',
                    contentType: 'application/json',
                    type: 'POST',
                    data: JSON.stringify({
                        bookingId: id
                    }),
                    success: function (data) {

                        alert(data.Message);
                    }
                });
            }
        }

        function CancelBooking(id) {

            var confirmation = confirm('Are you sure you want to coninue?');

            if (confirmation == true) {
                $.ajax({
                    url: '@Url.Action("CancelBooking", "Booking" )',
                    contentType: 'application/json',
                    type: 'POST',
                    data: JSON.stringify({
                        bookingId: id
                    }),
                    success: function (data) {

                        alert(data.Message);
                    }
                });
            }
        }
    </script>
}