<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      History
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-card *ngFor="let booking of bookingsWithReview">
      <ion-card-header>
        <ion-card-subtitle>{{booking.startDateScheduled | date:'fullDate'}}</ion-card-subtitle>
        <ion-card-title>{{booking.status}}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-card class="m-0">
          <ion-card-header>
            <ion-card-subtitle>From:</ion-card-subtitle>
            <ion-card-title>{{booking.travelRate.pickupPoint.name}}</ion-card-title>
          </ion-card-header>
        </ion-card>
        <ion-card class="m-0">
          <ion-card-header>
            <ion-card-subtitle>To:</ion-card-subtitle>
            <ion-card-title>{{booking.travelRate.destinationPoint.name}}</ion-card-title>
          </ion-card-header>
        </ion-card>
        <ion-card class="m-0">
          <ion-card-header>
            <ion-card-subtitle>Rating:</ion-card-subtitle>
            <ion-card-title color="success">{{booking.bookingReview?.rating || 'N/A'}}</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-card-content>
    </ion-card>
  </ion-grid>
</ion-content>