<ion-header>
  <ion-toolbar>
    <ion-title>Registration</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-item>
    <ion-input type="text" placeholder="First Name" [(ngModel)]="accountRegister.firstName"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input type="text" placeholder="Middle Name" [(ngModel)]="accountRegister.middleName"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input type="text" placeholder="Last Name" [(ngModel)]="accountRegister.lastName"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input type="email" placeholder="Email Address" [(ngModel)]="accountRegister.emailAddress"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input type="text" placeholder="Username" [(ngModel)]="accountRegister.userName"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input type="password" placeholder="Password" minlength="3" [(ngModel)]="accountRegister.password"></ion-input>
  </ion-item>
  <!-- PAGAWA NG VALIDATOR NETO -->
  <ion-item>
    <ion-input type="password" placeholder="Confirm Password" [(ngModel)]="confirmPass"></ion-input>
  </ion-item>
  <ion-item lines="none" *ngIf="validatePass()">
    <span class="psw-validation">** password mismatch</span>
  </ion-item>
  <!-- GAWIN MO TONG SELECT INPUT -->
  <!-- BAKIT SELECT INPUT? -->
  <ion-button expand="block" (click)="register()" [disabled]="validatePass()">
    <span *ngIf="!isRegistering">Register</span>
    <ion-spinner *ngIf="isRegistering" name="bubbles"></ion-spinner>
  </ion-button>
  <p text-center [routerLink]="['/login']" routerLinkActive="root">I already have an account</p>
</ion-content>