﻿.custom-select-style {
    border-radius: 0;
    border: 1px solid #555;
    height: 45px;
    width: 100%;
    background-image: url(/Content/Client/img/caret-cion.png);
    background-position: right 13px center;
    background-size: 12px auto;
}

.custom-number-style {
    display: inline-block;
    max-width: 100%;
    height: calc(2.25rem + 2px);
    padding: .375rem 0.75rem .375rem .75rem;
    line-height: 1.5;
    color: #495057;
    vertical-align: middle;
    background: #fff center;
    background-size: 8px 10px;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    -webkit-appearance: none;
}

.input-group-append {
    background-color: #fff;
    border: 1px solid #ffd000;
    border-left: 0 none;
}

.input-group-addon {
    border: 0px none;
    background: none;
}

span.fa {
    color: #ffd000;
    font-size: 18px;
    line-height: 33px;
}

.body-fa {
    color: black !important;
}

.body-input-group-append {
    background-color: #fff;
    border: 1px solid #eaeaea;
    border-left: 0 none;
}

button:disabled,
button[disabled] {
    background-color: gray;
    color: white;
}

/*.fade.in {
    opacity: 1;
}*/

/*@media (min-width: 1200px)
{
    .container {
        max-width: 1200px !important;
    }
}

@media (min-width: 992px)
{
    .container {
        max-width: 960px;
    }
}

@media (min-width: 768px) 
{
    .container {
        max-width: 720px;
    }
}

@media (min-width: 576px) 
{
    .container {
        max-width: 540px;
    }
}*/

/*.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}*/
