﻿@model THP.Web.Models.DAL.Data.Accounts.ProfileViewModel
@using THP.Web.Models
@using THP.Web.Models.DAL.Data.Enum
@{
    ViewBag.Title = "Profile";
}

@section css
{
    <link href="~/Content/Client/css/datetimepicker/bootstrap-datetimepicker.css" rel="stylesheet" />
}

<!--== Page Title Area Start ==-->
<section id="page-title-area" class="section-padding overlay">
    <div class="container">
        <div class="row">
            <!-- Page Title Start -->
            <div class="col-lg-12">
                <div class="section-title  text-center">
                    <h2>Profile</h2>
                    <span class="title-line"><i class="fa fa-car"></i></span>
                    <p>
                        View or edit your account details. You can also view your history of transactions and
                        the booking that you have purchased.
                    </p>
                </div>
            </div>
            <!-- Page Title End -->
        </div>
    </div>
</section>
<!--== Page Title Area End ==-->
<!--== Profile Area Start ==-->
<div class="section-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 m-auto">
                <div class="profile-form">
                    <div class="row">
                        <!-- Section Title Start -->
                        <div class="col-lg-12">
                            <div class="section-title  text-center">
                                <h2>Profile Details</h2>
                                <span class="title-line"><i class="fa fa-car"></i></span>
                                <p>User Details</p>
                            </div>
                        </div>
                        <!-- Section Title End -->
                    </div>
                    @using (Html.BeginForm("AccountProfile", "Account", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        <!--== User Area Start ==-->
                        <div class="row">
                            <div class="col-lg-4 col-md-4">
                                <div class="text-input">
                                    @Html.LabelFor(m => m.Firstname)
                                    @Html.TextBoxFor(m => m.Firstname, "", htmlAttributes: new { @class = "form-control", @placeholder = "Firstname" })
                                    @Html.ValidationMessageFor(m => m.Firstname, "", htmlAttributes: new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="col-lg-4 col-md-4">
                                <div class="text-input">
                                    @Html.LabelFor(m => m.Middlename)
                                    @Html.TextBoxFor(m => m.Middlename, "", htmlAttributes: new { @class = "form-control", @placeholder = "Middlename" })
                                    @Html.ValidationMessageFor(m => m.Middlename, "", htmlAttributes: new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="col-lg-4 col-md-4">
                                <div class="text-input">
                                    @Html.LabelFor(m => m.Lastname)
                                    @Html.TextBoxFor(m => m.Lastname, "", htmlAttributes: new { @class = "form-control", @placeholder = "Lastname" })
                                    @Html.ValidationMessageFor(m => m.Lastname, "", htmlAttributes: new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-lg-6 col-md-6">
                                <div class="text-input">
                                    @Html.LabelFor(m => m.EmailAddress)
                                    @Html.TextBoxFor(m => m.EmailAddress, "", htmlAttributes: new { @class = "form-control", @placeholder = "Email Address" })
                                    @Html.ValidationMessageFor(m => m.EmailAddress, "", htmlAttributes: new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <div class="text-input">
                                    @*@Html.LabelFor(m => m.RoleID)
        @Html.DropDownListFor(m => m.RoleID, Model.lstRole, "Select Role", htmlAttributes: new { @class = "form-control", @placeholder = "Role" })
        @Html.ValidationMessageFor(m => m.EmailAddress, "", htmlAttributes: new { @class = "text-danger" })*@

                                    @Html.LabelFor(m => m.RoleName)
                                    @Html.TextBoxFor(m => m.RoleName, htmlAttributes: new { @class = "form-control", @placeholder = "Role", @readonly = true })
                                    @Html.ValidationMessageFor(m => m.RoleName, "", htmlAttributes: new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-lg-6 col-md-6">
                                <div class="text-input">
                                    @Html.LabelFor(m => m.Username)
                                    @Html.TextBoxFor(m => m.Username, "", htmlAttributes: new { @class = "form-control", @placeholder = "Username" })
                                    @Html.ValidationMessageFor(m => m.Username, "", htmlAttributes: new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="col-lg-6 col-md-6">
                                <div class="text-input">
                                    @Html.LabelFor(m => m.Password)
                                    @Html.PasswordFor(m => m.Password, htmlAttributes: new { @class = "form-control", @placeholder = "Password" })
                                    @Html.ValidationMessageFor(m => m.Password, "", htmlAttributes: new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <!--== User Area End ==-->
                        <br />
                        <!--== User Details Area Start ==-->
                        <div class="row">
                            <div class="col-lg-6 col-md-6">
                                <div class="date-input">
                                    @Html.LabelFor(m => m.Birthdate)
                                    <div class="input-group date form_datetime" data-link-field="dtp_Birthdate">
                                        <input class="form-control" type="text" value="@Model.Birthdate" placeholder="Birthdate">
                                        <div class="body-input-group-append">
                                            <span class="input-group-addon"><span class="fa fa-calendar body-fa"></span></span>
                                        </div>
                                    </div>
                                    @Html.HiddenFor(m => m.Birthdate, htmlAttributes: new { @id = "dtp_Birthdate" })
                                </div>
                            </div>

                            <div class="col-lg-6 col-md-6">
                                <div class="text-input">
                                    @Html.LabelFor(m => m.Gender)
                                    @Html.DropDownListFor(m => m.Gender, Model.lstGender, "Select Gender", htmlAttributes: new { @class = "form-control", @placeholder = "Gender" })
                                    @Html.ValidationMessageFor(m => m.Gender, "", htmlAttributes: new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-lg-6 col-md-6">
                                <div class="text-input">
                                    @Html.LabelFor(m => m.TelephoneNo)
                                    @Html.TextBoxFor(m => m.TelephoneNo, "", htmlAttributes: new { @class = "form-control", @placeholder = "Telephone #" })
                                    @Html.ValidationMessageFor(m => m.TelephoneNo, "", htmlAttributes: new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="col-lg-6 col-md-6">
                                <div class="text-input">
                                    @Html.LabelFor(m => m.CellphoneNo)
                                    @Html.TextBoxFor(m => m.CellphoneNo, "", htmlAttributes: new { @class = "form-control", @placeholder = "Cellphone #" })
                                    @Html.ValidationMessageFor(m => m.CellphoneNo, "", htmlAttributes: new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-lg-12 col-md-12">
                                <div class="text-input">
                                    @Html.LabelFor(m => m.Address)
                                    @Html.TextAreaFor(m => m.Address, htmlAttributes: new { @class = "form-control", @placeholder = "Address" })
                                    @Html.ValidationMessageFor(m => m.Address, "", htmlAttributes: new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-lg-6 col-md-6">
                                <div class="text-input">
                                    @Html.LabelFor(m => m.Municipality)
                                    @Html.TextBoxFor(m => m.Municipality, "", htmlAttributes: new { @class = "form-control", @placeholder = "Municipality" })
                                    @Html.ValidationMessageFor(m => m.Municipality, "", htmlAttributes: new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="col-lg-6 col-md-6">
                                <div class="text-input">
                                    @Html.LabelFor(m => m.City)
                                    @Html.TextBoxFor(m => m.City, "", htmlAttributes: new { @class = "form-control", @placeholder = "City" })
                                    @Html.ValidationMessageFor(m => m.City, "", htmlAttributes: new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-lg-6 col-md-6">
                                <div class="text-input">
                                    @Html.LabelFor(m => m.Province)
                                    @Html.TextBoxFor(m => m.Province, "", htmlAttributes: new { @class = "form-control", @placeholder = "Province" })
                                    @Html.ValidationMessageFor(m => m.Province, "", htmlAttributes: new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="col-lg-6 col-md-6">
                                <div class="text-input">
                                    @Html.LabelFor(m => m.Region)
                                    @Html.TextBoxFor(m => m.Region, "", htmlAttributes: new { @class = "form-control", @placeholder = "Region" })
                                    @Html.ValidationMessageFor(m => m.Region, "", htmlAttributes: new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-lg-12 col-md-12">
                                <div class="input-submit">
                                    <button type="submit" class="pull-right">Update Profile</button>
                                </div>
                            </div>
                        </div>
                        <!--== User Details Area End ==-->
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<!--== Profile Area End ==-->
<!--== Booking History Area Start ==-->
<section class="section-padding">
    <div class="container">
        <div class="row">
            <!-- Section Title Start -->
            <div class="col-lg-12">
                <div class="section-title  text-center">
                    <h2>Booking Details</h2>
                    <span class="title-line"><i class="fa fa-car"></i></span>
                    <p>List of your booking transactions</p>
                </div>
            </div>
            <!-- Section Title End -->
        </div>

        <div class="row">
            <table class="table table-striped">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Booking #</th>
                        @if (HttpContext.Current.Session["roleID"] != null && HttpContext.Current.Session["roleID"].ToString() != Convert.ToString((int)RoleType.Customer))
                        {
                            <th scope="col">Customer</th>
                        }
                        else if (HttpContext.Current.Session["roleID"] != null && HttpContext.Current.Session["roleID"].ToString() != Convert.ToString((int)RoleType.Driver))
                        {
                            <th scope="col">Driver</th>
                        }
                        <th scope="col">Route</th>
                        <th scope="col">Start Date Schedule</th>
                        <th scope="col">End Date Schedule</th>
                        <th scope="col">Date Completed</th>
                        <th scope="col">Total Price</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.lstProfileBooking)
                    {
                        <tr>
                            <td><a href="@Url.Action("Details", "Order", routeValues: new { @id = item.Id })">@item.BookingNo</a></td>
                            
                            @if (HttpContext.Current.Session["roleID"] != null && HttpContext.Current.Session["roleID"].ToString() != Convert.ToString((int)RoleType.Customer))
                            {
                                <td>@item.CustomerName</td>
                            }
                            else if (HttpContext.Current.Session["roleID"] != null && HttpContext.Current.Session["roleID"].ToString() != Convert.ToString((int)RoleType.Driver))
                            {
                                <td>@item.DriverName</td>
                            }
                            <td>@item.Route</td>
                            <td>@item.StartDateScheduled</td>
                            <td>@item.EndDateScheduled</td>
                            <td>@item.DateCompleted</td>
                            <td>@item.TotalPrice</td>
                            <td id="status_@item.Id">
                                @if (item.Status == Constant.BOOKING_STATUS_QUEUED || item.Status == Constant.BOOKING_STATUS_ONGOING)
                                {
                                    <div class="btn-group">
                                        @if (HttpContext.Current.Session["roleID"] != null && HttpContext.Current.Session["roleID"].ToString() != Convert.ToString((int)RoleType.Customer))
                                        {
                                            <button class="btn btn-success" onclick="CompleteBooking(@item.Id)" title="Complete"><i class="fa fa-check"></i></button>
                                        }
                                    
                                        @if (HttpContext.Current.Session["roleID"] != null && HttpContext.Current.Session["roleID"].ToString() != Convert.ToString((int)RoleType.Customer))
                                        {
                                            <button class="btn btn-primary" onclick="OnGoingBooking(@item.Id)" title="On Going"><i class="fa fa-cab"></i></button>
                                        }

                                        @if (HttpContext.Current.Session["roleID"] != null && HttpContext.Current.Session["roleID"].ToString() != Convert.ToString((int)RoleType.Driver))
                                        {
                                            <button class="btn btn-danger" onclick="CancelBooking(@item.Id)" title="Cancel"><i class="fa fa-remove"></i></button>
                                        }
                                    </div>
                                }
                                else if (item.Status == Constant.BOOKING_STATUS_COMPLETE)
                                {
                                    <span class="text-success">@item.Status</span>
                                }
                                else if (item.Status == Constant.BOOKING_STATUS_CANCELLED)
                                {
                                    <span class="text-danger">@item.Status</span>
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</section>
<!--== Booking History Area End ==-->

@section scripts
{
    <script src="~/Scripts/Client/datetimepicker/bootstrap-datetimepicker.js"></script>
    <script>
        $(document).ready(function () {
            $('.form_datetime').datetimepicker({
                format: "mm/dd/yyyy - hh:ii P",
                weekStart: 1,
                todayBtn: 1,
                autoclose: 1,
                todayHighlight: 1,
                startView: 2,
                forceParse: 0,
                //showMeridian: 1,
                //startDate: new Date()
            });
        });

        function CompleteBooking(id) {

            var confirmation = confirm('Are you sure you want to coninue?');

            if (confirmation == true) {
                $.ajax({
                    url: '@Url.Action("CompleteBooking", "Booking" )',
                    contentType: 'application/json',
                    type: 'POST',
                    data: JSON.stringify({
                        bookingId: id
                    }),
                    success: function (data) {
                        if (data.IsSuccess) {
                            var rowname = '#status_' + id;
                            $(rowname).html('');
                            $(rowname).html('<span class="text-success">Complete</span>');
                        }

                        alert(data.Message);
                    }
                });
            }
        }

        function OnGoingBooking(id) {

            var confirmation = confirm('Are you sure you want to coninue?');

            if (confirmation == true) {
                $.ajax({
                    url: '@Url.Action("OnGoingBooking", "Booking" )',
                    contentType: 'application/json',
                    type: 'POST',
                    data: JSON.stringify({
                        bookingId: id
                    }),
                    success: function (data) {

                        alert(data.Message);

                        if (data.IsSuccess) {
                            location.reload();
                        }
                    }
                });
            }
        }

        function CancelBooking(id) {

            var confirmation = confirm('Are you sure you want to coninue?');

            if (confirmation == true) {
                $.ajax({
                    url: '@Url.Action("CancelBooking", "Booking" )',
                    contentType: 'application/json',
                    type: 'POST',
                    data: JSON.stringify({
                        bookingId: id
                    }),
                    success: function (data) {
                        if (data.IsSuccess) {
                            var rowname = '#status_' + id;
                            $(rowname).html('');
                            $(rowname).html('<span class="text-danger">Cancelled</span>');
                        }

                        alert(data.Message);
                    }
                });
            }
        }
    </script>
}
