﻿@model THP.Web.Models.DAL.Data.Accounts.AccountLoginViewModel
@{
    ViewBag.Title = "Login";
}


<!--== Page Title Area Start ==-->
<section id="page-title-area" class="section-padding overlay">
    <div class="container">
        <div class="row">
            <!-- Page Title Start -->
            <div class="col-lg-12">
                <div class="section-title  text-center">
                    <h2>Login</h2>
                    <span class="title-line"><i class="fa fa-car"></i></span>
                    <p>Enter you credentials so you can access our services and features we offer</p>
                </div>
            </div>
            <!-- Page Title End -->
        </div>
    </div>
</section>
<!--== Page Title Area End ==-->

<!--== Login Page Content Start ==-->
<section id="lgoin-page-wrap" class="section-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-8 m-auto">
                <div class="login-page-content">
                    <div class="login-form">
                        <h3>Welcome Back!</h3>
                        @using (Html.BeginForm("Login", "Account", FormMethod.Post))
                        {
                            @Html.AntiForgeryToken()
                            <div class="username">
                                @Html.TextBoxFor(m => m.Username, htmlAttributes: new { @placeholder = "Username" })
                                @Html.ValidationMessageFor(m => m.Username, "", htmlAttributes: new { @class = "text-danger" })
                            </div>
                            <div class="password">
                                @Html.PasswordFor(m => m.Password, htmlAttributes: new { @placeholder = "Password" })
                                @Html.ValidationMessageFor(m => m.Password, "", htmlAttributes: new { @class = "text-danger" })
                            </div>
                            <div class="log-btn">
                                <button type="submit"><i class="fa fa-sign-in"></i> Log In</button>
                            </div>
                        }
                    </div>

                    @*<div class="login-other">
                        <span class="or">or</span>
                        <a href="#" class="login-with-btn facebook"><i class="fa fa-facebook"></i> Login With Facebook</a>
                        <a href="#" class="login-with-btn google"><i class="fa fa-google"></i> Login With Google</a>
                    </div>*@
                    <div class="create-ac">
                        <p>Don't have an account? <a href="@Url.Action("Register", "Account")">Sign Up</a></p>
                    </div>
                    <div class="login-menu">
                        <a href="about.html">About</a>
                        <span>|</span>
                        <a href="contact.html">Contact</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--== Login Page Content End ==-->
