﻿@model THP.Web.Models.DAL.Data.Accounts.AccountRegisterViewModel
@{
    ViewBag.Title = "Register";
}

<!--== Page Title Area Start ==-->
<section id="page-title-area" class="section-padding overlay">
    <div class="container">
        <div class="row">
            <!-- Page Title Start -->
            <div class="col-lg-12">
                <div class="section-title  text-center">
                    <h2>Register</h2>
                    <span class="title-line"><i class="fa fa-car"></i></span>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                </div>
            </div>
            <!-- Page Title End -->
        </div>
    </div>
</section>
<!--== Page Title Area End ==-->
<!--== Register Page Content Start ==-->
<section id="lgoin-page-wrap" class="section-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-md-8 m-auto">
                <div class="login-page-content">
                    <div class="login-form">
                        <h3>Sign Up</h3>
                        @using (Html.BeginForm("Register", "Account", FormMethod.Post))
                        {
                            @Html.AntiForgeryToken()
                            <div class="firstname">
                                @Html.TextBoxFor(m => m.Firstname, htmlAttributes: new { @placeholder = "Firstname" })
                                @Html.ValidationMessageFor(m => m.Firstname, "", htmlAttributes: new { @class = "text-danger pull-left" })
                            </div>
                            <div class="middlename">
                                @Html.TextBoxFor(m => m.Middlename, htmlAttributes: new { @placeholder = "Middlename" })
                                @Html.ValidationMessageFor(m => m.Middlename, "", htmlAttributes: new { @class = "text-danger pull-left" })
                            </div>
                            <div class="firstname">
                                @Html.TextBoxFor(m => m.Lastname, htmlAttributes: new { @placeholder = "Lastname" })
                                @Html.ValidationMessageFor(m => m.Lastname, "", htmlAttributes: new { @class = "text-danger pull-left" })
                            </div>
                            <div class="email-address">
                                @Html.TextBoxFor(m => m.EmailAddress, htmlAttributes: new { @placeholder = "Email Address" })
                                @Html.ValidationMessageFor(m => m.EmailAddress, "", htmlAttributes: new { @class = "text-danger pull-left" })
                            </div>
                            <div class="role">
                                @Html.DropDownListFor(m => m.RoleID, Model.lstRole, "-- Select Type --", htmlAttributes: new { @class = "custom-select custom-select-style role-select" })
                                @Html.ValidationMessageFor(m => m.RoleID, "", htmlAttributes: new { @class = "text-danger pull-left" })
                            </div>
                            <div class="username">
                                @Html.TextBoxFor(m => m.Username, htmlAttributes: new { @placeholder = "Username" })
                                @Html.ValidationMessageFor(m => m.Username, "", htmlAttributes: new { @class = "text-danger pull-left" })
                            </div>
                            <div class="password">
                                @Html.PasswordFor(m => m.Password, htmlAttributes: new { @placeholder = "Password" })
                                @Html.ValidationMessageFor(m => m.Password, "", htmlAttributes: new { @class = "text-danger pull-left" })
                            </div>
                            <div class="confirm-password">
                                @Html.PasswordFor(m => m.ConfirmPassword, htmlAttributes: new { @placeholder = "Confirm Password" })
                                @Html.ValidationMessageFor(m => m.ConfirmPassword, "", htmlAttributes: new { @class = "text-danger pull-left" })
                            </div>
                            <div class="brand">
                                @Html.TextBoxFor(m => m.Brand, htmlAttributes: new { @placeholder = "Brand" })
                                @Html.ValidationMessageFor(m => m.Brand, "", htmlAttributes: new { @class = "text-danger pull-left" })
                            </div>
                            <div class="model">
                                @Html.TextBoxFor(m => m.CarModel, htmlAttributes: new { @placeholder = "Model" })
                                @Html.ValidationMessageFor(m => m.CarModel, "", htmlAttributes: new { @class = "text-danger pull-left" })
                            </div>
                            <div class="color">
                                @Html.TextBoxFor(m => m.Color, htmlAttributes: new { @placeholder = "Color" })
                                @Html.ValidationMessageFor(m => m.Color, "", htmlAttributes: new { @class = "text-danger pull-left" })
                            </div>
                            <div class="plate-number">
                                @Html.TextBoxFor(m => m.PlateNumber, htmlAttributes: new { @placeholder = "Plate #" })
                                @Html.ValidationMessageFor(m => m.PlateNumber, "", htmlAttributes: new { @class = "text-danger pull-left" })
                            </div>
                            <div class="log-btn">
                                <button type="submit"><i class="fa fa-check-square"></i> Sign Up</button>
                            </div>
                        }
                    </div>
                    @*<div class="login-other">
                            <span class="or">or</span>
                            <a href="#" class="login-with-btn facebook"><i class="fa fa-facebook"></i> Signup With Facebook</a>
                            <a href="#" class="login-with-btn google"><i class="fa fa-google"></i> Signup With Google</a>
                        </div>*@
                    <div class="create-ac">
                        <p>Have an account? <a href="@Url.Action("Login", "Account")">Sign In</a></p>
                    </div>
                    <div class="login-menu">
                        <a href="about.html">About</a>
                        <span>|</span>
                        <a href="contact.html">Contact</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--== Register Page Content End ==-->

@section scripts {
<script>
    $(document).ready(function() {
        var role = $('.role-select').val();
        
        if (role == '3')
        {
            $('div.brand').show();
            $('div.model').show();
            $('div.color').show();
            $('div.plate-number').show();
        }
        else
        {
            $('div.brand').hide();
            $('div.model').hide();
            $('div.color').hide();
            $('div.plate-number').hide();
        }
    });

    $('.role-select').change(function () {

        var role = $(this).val();

        if (role == '3')
        {
            $('div.brand').show();
            $('div.model').show();
            $('div.color').show();
            $('div.plate-number').show();
        }
        else
        {
            $('div.brand').hide();
            $('div.model').hide();
            $('div.color').hide();
            $('div.plate-number').hide();
        }
    });

    // ----- define your settings -----

    ea.settings.apply({
        debug: true,
        optimize: true,
        enumsAsNumbers: true,
        dependencyTriggers: 'change keyup'
    });

</script>
}