<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>Rates</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label>FROM</ion-label>
          <ion-select placeholder="Select" [(ngModel)]="selectedFrom">
            <ion-select-option *ngFor="let location of metroManilaLocationOnly" [value]="location">{{ location.name }}
            </ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label>TO</ion-label>
          <ion-select placeholder="Select" [(ngModel)]="selectedTo" (ionChange)="computePrice()">
            <ion-select-option *ngFor="let location of locations" [value]="location">{{location.name}}
            </ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label>TRIP</ion-label>
          <ion-select [(ngModel)]="selectedTrip" (ionChange)="computePrice()">
            <ion-select-option *ngFor="let trip of travelTrips" [value]="trip">{{trip}}</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label>Seater: </ion-label>
          <ion-input type="text" [(ngModel)]="booking.seater"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Pickup Date: </ion-label>
          <ion-input text-right readonly [(ngModel)]="booking.startDateScheduled" [liIonic4Datepicker]="datePickerObj"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Return Date: </ion-label>
          <ion-input text-right readonly [(ngModel)]="booking.endDateScheduled" [liIonic4Datepicker]="datePickerObj"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Fixed Price: </ion-label>
          <ion-input type="text" [(ngModel)]="booking.totalPrice" disabled></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Over Night Price: </ion-label>
          <ion-input type="text" [(ngModel)]="selectedTravelRate.overnight" disabled></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Over Time Price: </ion-label>
          <ion-input type="text" [(ngModel)]="selectedTravelRate.overtime" disabled></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Maximum Hours: </ion-label>
          <ion-input type="text" [(ngModel)]="selectedTravelRate.maxHours" disabled></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Discount: </ion-label>
          <ion-input type="text" [(ngModel)]="discount.discountAmount" disabled></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-button expand="block" (click)="goToPaymentOptions()" [disabled]="checkPendingBooking()">Book</ion-button>
  </ion-grid>
</ion-content>