﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.Title | THR - Van Rental</title>

    <!--=== Favicon ===-->
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />

    @Styles.Render("~/Content/css")

    @Scripts.Render("~/bundles/modernizr")

    @RenderSection("css", required: false)

    <!--[if lt IE 9]>
        <script src="//oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="//oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-140396024-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-140396024-1');
    </script>

</head>
<body class="loader-active">

    <!--== Preloader Area Start ==-->
    <div class="preloader">
        <div class="preloader-spinner">
            <div class="loader-content">
                <img src="~/Content/Client/img/preloader.gif" alt="JSOFT">
            </div>
        </div>
    </div>
    <!--== Preloader Area End ==-->

    @Html.Partial("_RootHeader")

    @RenderBody()

    @Html.Partial("_RootFooter")

    <!--== Scroll Top Area Start ==-->
    <div class="scroll-top">
        <img src="~/Content/Client/img/scroll-top2.png" alt="JSOFT">
    </div>
    <!--== Scroll Top Area End ==-->

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

    <script type="text/javascript">
        $(document).ready(function () {
            $.ajax({
                url: '@Url.Action("HeaderMenu", "Home" )',
                contentType: 'application/json',
                type: 'POST',
                success: function (result) {
                    var html = "";
                    for (var x = 0; x < result.menu.length; x++) {
                        html += '<li><a href="/Home/Topic?url=' + result.menu[x].UrlSlug + '">' + result.menu[x].Name + '</a></li>';
                    }

                    $('#dynamic-pages').append(html);
                },
                error: function () {
                }
            });

            if ($('#notification-list').length > 0) {
                $.ajax({
                    url: '@Url.Action("UserNotification", "Home")',
                    contentType: 'application/json',
                    type: 'POST',
                    success: function (data) {
                        if (data.notifications.length > 0) {
                            for (var x = 0; data.notifications.length > x; x++) {

                                $('#notification-list').append('<li><a href="#">' + data.notifications[x].Message + '</a></li>');
                            }
                        }
                    }
                });
            }
        });
    </script>

    @RenderSection("headerScripts", required: false)
    <script>
        $(document).ready(function () {
            var ErrorMessage = '@TempData["ErrorMessage"]'
            if (ErrorMessage.length > 0) {
                alert(ErrorMessage);
            }
        });
    </script>
    @RenderSection("scripts", required: false)
</body>
</html>
