﻿@using THP.Web.Models
@using THP.Web.Models.DAL.Data.Enum
<!--== Header Area Start ==-->
<header id="header-area" class="fixed-top">

    <!--== Header Top Start ==-->
    <div id="header-top" class="d-none d-xl-block">
        <div class="container">
            <div class="row">
                <!--== Single HeaderTop Start ==-->
                <div class="col-lg-4 text-left">
                    <i class="fa fa-map-marker"></i> Ma. Clara, 29 Taytay, Rizal
                </div>
                <!--== Single HeaderTop End ==-->
                <!--== Single HeaderTop Start ==-->
                <div class="col-lg-4 text-center">
                    <i class="fa fa-mobile"></i> (+63) 917-163-2464
                </div>
                <!--== Single HeaderTop End ==-->
                <!--== Single HeaderTop Start ==-->
                <div class="col-lg-4 text-right">
                    <i class="fa fa-envelope"></i> thptransportservices@gmail.com
                </div>
                <!--== Single HeaderTop End ==-->
            </div>
        </div>
    </div>
    <!--== Header Top End ==-->
    <!--== Header Bottom Start ==-->
    <div id="header-bottom">
        <div class="container">
            <div class="row">
                <!--== Logo Start ==-->
                <div class="col-lg-4">
                    <a href="@Url.Action("Index", "Home")" class="logo">
                        <img src="~/Content/Client/img/logo2.png" alt="JSOFT">
                    </a>
                </div>
                <!--== Logo End ==-->
                <!--== Main Menu Start ==-->
                <div class="col-lg-8 d-none d-xl-block">
                    <nav class="mainmenu alignright">
                        <ul>
                            <li><a href="@Url.Action("Index", "Home")">Home</a></li>
                            <!--<li><a href="#">About</a></li>-->
                            <li><a href="@Url.Action("Services", "Home")">Services</a></li>
                            @if (HttpContext.Current.Session["username"] != null)
                            {
                                if (HttpContext.Current.Session["roleID"] != null && HttpContext.Current.Session["roleID"].ToString() != Convert.ToString((int)RoleType.Driver))
                                {
                                    <li>
                                        <a href="#">Book and Track</a>
                                        <ul>
                                            <li><a href="@Url.Action("Index", "Booking")">Rent a Van</a></li>
                                            <li><a href="@Url.Action("Index", "Tracking")">Track</a></li>
                                        </ul>
                                    </li>
                                }
                            }
                            <li>
                                <a href="#">Pages</a>
                                <ul id="dynamic-pages">
                                    <li><a href="@Url.Action("FacebookPage", "Home")">Facebook Page</a></li>
                                </ul>
                            </li>
                            @if (HttpContext.Current.Session["username"] != null)
                            {
                                <li>
                                    <a href="#">Notify</a>
                                    <ul id="notification-list"></ul>
                                </li>
                            }
                            <li>
                                <a href="#">Account</a>
                                @if (HttpContext.Current.Session["username"] != null)
                                {
                                    <ul>
                                        <li><a href="@Url.Action("AccountProfile", "Account")">Profile</a></li>
                                        @if (HttpContext.Current.Session["roleID"] != null
                                        && (HttpContext.Current.Session["roleID"].ToString() == Convert.ToString((int)RoleType.Admin)
                                        || HttpContext.Current.Session["roleID"].ToString() == Convert.ToString((int)RoleType.Driver)))
                                        {
                                            <li><a href="@Url.Action("Index", "Home", new { area = "Admin" })">Administration</a></li>
                                        }
                                        <li><a href="@Url.Action("Logout", "Account")">Log out</a></li>
                                    </ul>
                                }
                                else
                                {
                                    <ul>
                                        <li><a href="@Url.Action("Login", "Account")">Log In</a></li>
                                        <li><a href="@Url.Action("Register", "Account")">Register</a></li>
                                    </ul>
                                }
                            </li>
                        </ul>
                    </nav>
                </div>
                <!--== Main Menu End ==-->
            </div>
        </div>
    </div>
    <!--== Header Bottom End ==-->
</header>
<!--== Header Area End ==-->