<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row ion-margin-vertical>
      <ion-col>
        <div class="ion-text-center">
          <h3>Welcome {{ activeDriver.firstName }} {{ activeDriver.lastName }}!</h3>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>