﻿@model THP.Web.Areas.Admin.Models.TravelRate.TravelRate
@{
    ViewBag.Title = "Add";
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Travel Rate
        <small>Different types of travel rate you offer on your website</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="@Url.Action("Index")"><i class="fa fa-files-o"></i> Catalog</a></li>
        <li><a href="@Url.Action("Index")">Travel Rate</a></li>
        <li class="active">Add</li>
    </ol>
</section>

<section class="content">
    <div class="row">
        <div class="col-lg-12">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">Travel Rate Information</h3>

                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip"
                                title="Collapse">
                            <i class="fa fa-minus"></i>
                        </button>
                        <button type="button" class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip" title="Remove">
                            <i class="fa fa-times"></i>
                        </button>
                    </div>
                </div>
                @using (Html.BeginForm("Add", "TravelRate", FormMethod.Post))
                {
                    <div class="box-body">
                        <div class="row">
                            @Html.HiddenFor(m => m.TravelRateId)
                            <div class="col-lg-12 col-md-12">
                                <div class="col-lg-12 col-md-12">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.PickupPointID)
                                        @Html.DropDownListFor(m => m.PickupPointID, Model.PickupPoints, "", htmlAttributes: new { @class = "form-control" })
                                        @Html.ValidationMessageFor(m => m.PickupPointID, "", htmlAttributes: new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12">
                                <div class="col-lg-12 col-md-12">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.DestinationPointID)
                                        @Html.DropDownListFor(m => m.DestinationPointID, Model.DestinationPoints, "", htmlAttributes: new { @class = "form-control" })
                                        @Html.ValidationMessageFor(m => m.DestinationPointID, "", htmlAttributes: new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12">
                                <div class="col-lg-12 col-md-12">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.FixedPrice)
                                        @Html.TextBoxFor(m => m.FixedPrice, "", htmlAttributes: new { @class = "form-control" })
                                        @Html.ValidationMessageFor(m => m.FixedPrice, "", htmlAttributes: new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12">
                                <div class="col-lg-12 col-md-12">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.Overnight)
                                        @Html.TextBoxFor(m => m.Overnight, "", htmlAttributes: new { @class = "form-control" })
                                        @Html.ValidationMessageFor(m => m.Overnight, "", htmlAttributes: new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12">
                                <div class="col-lg-12 col-md-12">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.Overtime)
                                        @Html.TextBoxFor(m => m.Overtime, "", htmlAttributes: new { @class = "form-control" })
                                        @Html.ValidationMessageFor(m => m.Overtime, "", htmlAttributes: new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12">
                                <div class="col-lg-12 col-md-12">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.MaxHours)
                                        @Html.TextBoxFor(m => m.MaxHours, "", htmlAttributes: new { @class = "form-control" })
                                        @Html.ValidationMessageFor(m => m.MaxHours, "", htmlAttributes: new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer">
                        <input type="submit" class="btn btn-primary" value="Save" />
                    </div>
                    <!-- /.box-footer-->
                }
            </div>
        </div>
    </div>
</section>

