﻿<div class="modal fade show" id="modalPayment" tabindex="-1" role="dialog" aria-labelledby="modalPayment" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">MODE OF PAYMENT</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            @using (Ajax.BeginForm( actionName: "Checkout", 
                controllerName: "Checkout", 
                routeValues: new { }, 
                ajaxOptions: new AjaxOptions {
                HttpMethod = "POST",
                OnSuccess = "SaveBooking(data)" }, 
                htmlAttributes: new { @id= "payment-form", @name= "payment-form" }))
            {
            <div class="modal-body">
                @Html.AntiForgeryToken()
                @Html.Hidden("hiddenAmount")
                <div class="form-group">
                    <span>Amount</span>
                    @Html.TextBox("amount", "", htmlAttributes: new { @class = "form-control", @readonly = "true" })
                    @*@Html.TextBox("amount", "", htmlAttributes: new { @class = "form-control" })*@
                </div>
                <div class="form-group">
                    <div class="form-check-inline">
                        <label class="form-check-label">
                            @Html.RadioButton("optpayment", true, true, htmlAttributes: new { @class = "form-check-input", @id = "full-payment" })
                            Full Payment
                        </label>
                    </div>
                    <div class="form-check-inline">
                        <label class="form-check-label">
                            @Html.RadioButton("optpayment", false, false, htmlAttributes: new { @class = "form-check-input", @id = "partial-payment" })
                            Partial Payment
                        </label>
                    </div>
                </div>
                <div id="bt-dropin"></div>
                @Html.Hidden("payment_method_nonce", "")
                @Html.Hidden("payment_start_date", "")
                @Html.Hidden("payment_end_date", "")
                <div id="discountSection" class="form-group">

                </div>
                <div class="input-group mb-3">
                    <input id="txtApplyDiscount" type="text" class="form-control" placeholder="Discount code">
                    <div class="input-group-append">
                        <button id="btnApplyDiscount" class="btn btn-warning" type="button">Apply Discount</button>
                    </div>
                </div>
            </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" id="btnProceed" class="btn btn-success">Proceed</button>
                </div>
            }
        </div>
    </div>
</div>
