﻿@model THP.Web.Models.DAL.Data.Booking.BookingViewModel
@{
    ViewBag.Title = "Booking";
}

@section css
{
    <link href="~/Content/Client/css/datetimepicker/bootstrap-datetimepicker.css" rel="stylesheet" />
    <style>
        #maparea {
            width: 100%;
            height: 500px;
            background-color: grey;
        }
    </style>
}

<!--== Page Title Area Start ==-->
<section id="page-title-area" class="section-padding overlay">
    <div class="container">
        <div class="row">
            <!-- Page Title Start -->
            <div class="col-lg-12">
                <div class="section-title  text-center">
                    <h2>Rent a Van</h2>
                    <span class="title-line"><i class="fa fa-car"></i></span>
                    <p>
                        Be there on your targeted tourist destinations
                        anywhere in the Philippines. We can acommodate you with a safe and comfortable trip.
                    </p>
                </div>
            </div>
            <!-- Page Title End -->
        </div>
    </div>
</section>
<!--== Page Title Area End ==-->
<!--== Map Area Start ==-->
<div id="maparea">
</div>
<!--== Map Area End ==-->
<!--== Booking Page Area Start ==-->
<div class="section-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 m-auto">
                <div class="contact-form">
                    @using (Html.BeginForm("Index", "Booking", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()

                        @Html.HiddenFor(m => m.DiscountId)
                        @Html.HiddenFor(m => m.OrderId)
                        @Html.HiddenFor(m => m.Distance)

                        <div class="row">
                            <div class="col-lg-6 col-md-6">
                                <div class="date-input">
                                    @Html.LabelFor(m => m.StartDateScheduled)
                                    <div class="input-group date form_datetime" data-link-field="dtp_startDateScheduled">
                                        <input class="form-control" type="text" id="startDate" value="" placeholder="Start Date" readonly onchange="UpdateEndDate(this.value)">
                                        <div class="body-input-group-append">
                                            <span class="input-group-addon"><span class="fa fa-calendar body-fa"></span></span>
                                        </div>
                                    </div>
                                    @Html.HiddenFor(m => m.StartDateScheduled, htmlAttributes: new { @id = "dtp_startDateScheduled" })
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <div class="date-input">
                                    @Html.LabelFor(m => m.EndDateScheduled)
                                    <div class="input-group date form_datetime" data-link-field="dtp_endDateScheduled">
                                        <input class="form-control" type="text" value="" id="endDate" placeholder="End Date" readonly onchange="UpdateStartDate(this.value)">
                                        <div class="body-input-group-append">
                                            <span class="input-group-addon"><span class="fa fa-calendar body-fa"></span></span>
                                        </div>
                                    </div>
                                    @Html.HiddenFor(m => m.EndDateScheduled, htmlAttributes: new { @id = "dtp_endDateScheduled" })
                                </div>
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-lg-6 col-md-6">
                                <div class="location-input">
                                    @Html.LabelFor(m => m.PickUpPointID)
                                    @Html.DropDownListFor(m => m.PickUpPointID, Model.lst_PickUpPointID, "Select Pickup Point", htmlAttributes: new { @class = "form-control", @placeholder = "Pick-up Point", @id = "PickUpPoint" })
                                </div>
                            </div>

                            <div class="col-lg-6 col-md-6">
                                <div class="location-input">
                                    @Html.LabelFor(m => m.DestinationPointID)
                                    @Html.DropDownListFor(m => m.DestinationPointID, Model.lst_DestinationPointID, "Select Destination Point", htmlAttributes: new { @class = "form-control", @placeholder = "Destination Point", @id = "DestinationPoint" })
                                </div>
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-lg-6 col-md-6">
                                <div class="location-input">
                                    @Html.LabelFor(m => m.Seater)
                                    @Html.TextBoxFor(m => m.Seater, "", htmlAttributes: new { @id = "seater", @class = "form-control", @placeholder = "Seater", @type = "number", @min = "0", @max = "18" })
                                </div>
                            </div>

                            <div class="col-lg-6 col-md-6">
                                <div class="location-input">
                                    @Html.LabelFor(m => m.Ride)
                                    @Html.DropDownListFor(m => m.Ride, Model.lst_Rides, "Select Rides", htmlAttributes: new { @id = "ride", @class = "form-control", @placeholder = "Rides" })
                                </div>
                            </div>

                        </div>
                        <br />
                        <div class="row">
                            <div class="col-lg-12 col-md-12">
                                <div class="input-submit">
                                    @*<button type="button" id="bookSchedule" class="pull-right" data-toggle="modal" data-target="#modalPayment">Book Schedule</button>*@
                                    <button type="button" id="bookSchedule" class="pull-right" data-target="#modalPayment">Book Schedule</button>
                                    <button type="submit" id="btnSubmit" hidden>Submit</button>
                                </div>
                            </div>
                        </div>
                        @*<br />
                            <div class="row">
                                <div id="bt-dropin"></div>
                            </div>*@
                    }
                </div>
            </div>
        </div>
    </div>
</div>
@Html.Partial("_CheckoutModal")
<!--== Booking Page Area End ==-->

@section scripts {
    <script src="~/Scripts/Client/datetimepicker/bootstrap-datetimepicker.js"></script>
    <script>
        $(document).ready(function () {

            $.ajax({
                url: '@Url.Action("GetDisabledDates", "Booking" )',
                contentType: 'application/json',
                type: 'POST',
                success: function (result) {

                    var list = [];
                    for (var x = 0; x < result.length; x++) {
                        list.push(new Date(result[x]));
                    }

                    $('.form_datetime').datetimepicker({
                        format: "mm/dd/yyyy hh:ii",
                        weekStart: 1,
                        todayBtn: 1,
                        autoclose: 1,
                        todayHighlight: 1,
                        startView: 2,
                        forceParse: 0,
                        showMeridian: 1,
                        startDate: new Date(),
                        datesDisabled: list
                    });
                },
                error: function () {
                    $('.form_datetime').datetimepicker({
                        format: "mm/dd/yyyy hh:ii",
                        weekStart: 1,
                        todayBtn: 1,
                        autoclose: 1,
                        todayHighlight: 1,
                        startView: 2,
                        forceParse: 0,
                        showMeridian: 1,
                        startDate: new Date()
                    });
                }
            });


        });

        function UpdateEndDate(dateval){

            var selectedRide = $('#ride option:selected').val();
            if (selectedRide.length != 0)
            {
                // If one way ride
                if (selectedRide == "1") {
                    var d = new Date(dateval);
                    d.setDate(d.getDate() + 1);

                    var datestring = ("0" + (d.getMonth() + 1)).slice(-2) + "/" + ("0" + d.getDate()).slice(-2) + "/" +
                        d.getFullYear() + " " + ("0" + d.getHours()).slice(-2) + ":" + ("0" + d.getMinutes()).slice(-2);

                    $("#startDate").val(dateval);
                    $("#endDate").val(datestring);

                    $("#dtp_startDateScheduled").val(dateval);
                    $("#dtp_endDateScheduled").val(datestring);
                }
            }
        };

        function UpdateStartDate(dateval) {

            var selectedRide = $('#ride option:selected').val();
            if (selectedRide.length != 0) {
                // If one way ride
                if (selectedRide == "1") {
                    var d = new Date(dateval);
                    d.setDate(d.getDate() - 1);

                    var datestring = ("0" + (d.getMonth() + 1)).slice(-2) + "/" + ("0" + d.getDate()).slice(-2) + "/" +
                        d.getFullYear() + " " + ("0" + d.getHours()).slice(-2) + ":" + ("0" + d.getMinutes()).slice(-2);

                    $("#startDate").val(datestring);
                    $("#endDate").val(dateval);

                    $("#dtp_startDateScheduled").val(datestring);
                    $("#dtp_endDateScheduled").val(dateval);
                }
            }
        };
    </script>

    <script src="~/Scripts/Client/google-map.js"></script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBpTyUgoI0FLvlc8WKBYqX2lOFDrldg-lc&callback=showPosition&region=PH&language=tl">
    </script>

    <script src="https://js.braintreegateway.com/web/dropin/1.16.0/js/dropin.min.js"></script>
    <script>
        var client_token = "@ViewBag.ClientToken";
        var form = document.querySelector('#payment-form');
        var isValid = false;

        braintree.dropin.create({
            authorization: client_token,
            container: '#bt-dropin',
            paypal: {
                flow: 'vault'
            }
        }, function (createErr, instance) {
            form.addEventListener('submit', function (event) {

                    $('#btnProceed').prop("disabled", true);
                    event.preventDefault();

                    instance.requestPaymentMethod(function (err, payload) {
                        $('#btnProceed').prop("disabled", false);

                        if (err) {
                            console.log('Error', err);
                            return;
                        }

                        // Add the nonce to the form and submit
                        document.querySelector('#payment_method_nonce').value = payload.nonce;

                        isValid = true;

                        $('#btnProceed').click();
                        $('#btnProceed').prop("disabled", true);
                    });
            });
        });

        $('#bookSchedule').click(function () {
            var startDate = $("#dtp_startDateScheduled").val();
            var endDate = $("#dtp_endDateScheduled").val();
            var selectedPickUp = $('#PickUpPoint option:selected').val();
            var selectedDestination = $('#DestinationPoint option:selected').val();
            var selectedRide = $('#ride option:selected').val();
            var seater = $('#seater').val();
            var hasBooking;

            $.ajax({
                url: '@Url.Action("BookingConfig", "Booking" )',
                contentType: 'application/json',
                type: 'POST',
                success: function (result) {
                    hasBooking = result.hasBooking;
                }
            }).done(function (result) {
                hasBooking = result.hasBooking;

                if (hasBooking) {
                    alert("You currently have a booking that is still on-going or queued.");
                    return false;
                }
                else {

                    if (startDate.length != 0 && endDate.length != 0 && selectedPickUp.length != 0 && selectedDestination.length != 0 && selectedRide.length != 0
                    && (seater.length != 0 && seater != "0")) {
                    var target = $("#bookSchedule").attr('data-target');
                    $(target).modal('show');

                    $.ajax({
                        url: '@Url.Action("GetTotalPrice", "Booking" )',
                        contentType: 'application/json',
                        type: 'POST',
                        data: JSON.stringify({
                            pickUpPointID: selectedPickUp, destinationPointID: selectedDestination,
                            startDate: startDate, endDate: endDate
                        }),
                        success: function (price) {
                            // Clear discount code used
                            $('#discountSection').html('');

                            $("#payment_start_date").val($("#dtp_startDateScheduled").val());
                            $("#payment_end_date").val($("#dtp_endDateScheduled").val());

                            // Inout total amount
                            $('#hiddenAmount').val(price);
                            $('#amount').val($('#hiddenAmount').val());
                        }
                    });
                }
                else {
                    alert("Form is not yet completed.");
                    return false;
                }
                }
            })
        });

        function SaveBooking(data) {
            if (data.ErrorMessage.length == 0) {
                // Add OrderId
                $('#OrderId').val(data.orderId);
                $('#btnSubmit').click();
            }
            else
            {
                if (data.ErrorMessage != "Error") {
                    alert(data.ErrorMessage);
                }
            }
        };

        $('#btnApplyDiscount').click(function () {
            var discountValue = $('#txtApplyDiscount').val();
            var amount = $('#hiddenAmount');

            if (discountValue.length != 0) {
                $.ajax({
                    url: '@Url.Action("ApplyDiscountCode", "Checkout" )',
                    contentType: 'application/json',
                    type: 'POST',
                    data: JSON.stringify({
                        discountCode: discountValue
                    }),
                    success: function (data) {
                        if (data.ErrorMessage.length == 0) {

                            // Get Discount ID
                            $('#DiscountId').val(data.id);

                            // Deduct TotalPrice to the DiscountAmount
                            var totalAmount = parseFloat(amount[0].value) - parseFloat(data.amount);
                            $('#amount').val(totalAmount);

                            $('#discountSection').html('');
                            $('#discountSection').html('<span class="text-success">Discount Code applied:</span></br>'
                                + '<span class="text-success">'
                                + data.code + " - " + data.amount
                                + '</span>');
                        }
                        else {
                            $('#discountSection').html('');
                            $('#discountSection').html('<span class="text-danger">' + data.ErrorMessage + '</span>');
                        }

                    }
                });
            }
            else {
                alert("Please enter a discount code");
            }
        })
    </script>
    <script src="~/Scripts/Client/payment/payment.js"></script>

    <script>
        $('input[name="optpayment"]').click(function () {
            var id = $(this).attr('id');
            var value = $(this).is(':checked');

            //if (id == 'partial-payment') {
            //    if (value == true) {
            //        $('input#amount').attr('readonly', false);
            //    }
            //    else {
            //        $('input#amount').attr('readonly', true);
            //    }
            //}
            //else if (id == 'full-payment') {
            //    if (value == true) {
            //        $('input#amount').val($('#hiddenAmount').val());
            //        $('input#amount').attr('readonly', true);

            //        $("#btnProceed").attr('disabled', false);
            //    }
            //    else {
            //        $('input#amount').attr('readonly', false);
            //    }
            //}

            if (id == 'partial-payment') {
                if (value == true) {
                    $('input#amount').val(Number($('#hiddenAmount').val()) / 2);
                }
            }
            else if (id == 'full-payment') {
                if (value == true) {
                    $('input#amount').val($('#hiddenAmount').val());
                    $("#btnProceed").attr('disabled', false);
                }
            }
        });

        $('input[name="amount"]').change(function () {
            var amount = Number($(this).val())
            var totalAmount = Number($('#hiddenAmount').val());

            if (amount > totalAmount) {
                $("#btnProceed").attr('disabled', true);
            }
            else {
                $("#btnProceed").attr('disabled', false);
            }
        });
    </script>
}
